{% extends "::layout.html.twig" %}

{% block title %}
	Cours donnés
	 - {{ parent() }}
{% endblock %}

{% block navbar %}
	{% if is_granted('ROLE_ADMIN') %}
		<li><a href="{{ path('majordesk_app_gestion_virements') }}"><i class="icon-angle-right"></i> Gestion des virements</a></li>
		<li><a><i class="icon-angle-right"></i> Cours (im)payés</a></li>
	{% elseif is_granted('ROLE_PROF') %}
		<li><a><i class="icon-angle-right"></i> Cours donnés</a></li>
	{% endif %}
{% endblock %}

{% block body %}
		<br><br><span class="hidden-lg"><br><br></span>
		
		<div class="col-lg-12">
		
			<h3>Cours donnés ce mois-ci</h3><br>
		
			{% if tickets_this_month|length > 0 %}
			<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Date du cours</th>
							<th>Durée</th>
							<th>Elève</th>
							<th>Montant</th>
							<th>Statut</th>
							<th>Réglé</th>
						</tr>
					</thead>
					<tbody>
						{% for ticket in tickets_this_month %}
							{% for paiement in paiements if paiement.ticket.id == ticket.id %}
									<tr>
										<td>{{ ticket.dateCours|date("d/m/y") }}</td>
										<td>
											{% if ticket.quantite == 10 %}
												1h
											{% elseif ticket.quantite == 15 %}
												1h30
											{% elseif ticket.quantite == 20 %}
												2h
											{% elseif ticket.quantite == 25 %}
												2h30
											{% elseif ticket.quantite == 30 %}
												3h
											{% elseif ticket.quantite == 35 %}
												3h30
											{% elseif ticket.quantite == 40 %}
												4h
											{% elseif ticket.quantite == 45 %}
												4h30
											{% elseif ticket.quantite == 50 %}
												5h
											{% elseif ticket.quantite == 195 %}
												19h30
											{% endif %}
										</td>
										<td>{{ ticket.eleve.username }}</td>
										<td>
											{% if ticket.quantite == 10 %}
												25,00 €
											{% elseif ticket.quantite == 15 %}
												37,50 €
											{% elseif ticket.quantite == 20 %}
												50,00 €
											{% elseif ticket.quantite == 25 %}
												62,50 €
											{% elseif ticket.quantite == 30 %}
												75,00 €
											{% elseif ticket.quantite == 35 %}
												87,50 €
											{% elseif ticket.quantite == 40 %}
												100,00 €
											{% elseif ticket.quantite == 45 %}
												112,50 €
											{% elseif ticket.quantite == 50 %}
												125,00 €
											{% elseif ticket.quantite == 195 %}
												487.50 €
											{% endif %}
										</td>
										<td>
											{% if paiement.transaction == 0 %}
												<i rel="tooltip" data-title="Annulé" class="icon-remove text-red icon-large cursor-help"></i>
											{% elseif paiement.transaction == 1 %}
												<i rel="tooltip" data-title="Paiement par la famille en cours" class="icon-spin icon-spinner icon-large text-orange cursor-help"></i>
											{% elseif paiement.transaction == 2 %}
												<i rel="tooltip" data-title="Payé par la famille" class="icon-ok icon-large text-green cursor-help"></i>
											{% else %}
												<i rel="tooltip" data-title="Statut inconnu" class="icon-question-sign icon-large text-grey cursor-help"></i>
											{% endif %}
										</td>
										<td>
											{% if ticket.regle %}
												<em>Oui</em>
											{% else %}
												<em>Non <i rel="tooltip" data-title="Règlement en fin de mois" class="icon-info-sign cursor-help text-grey"></i></em>
											{% endif %}
										</td>
										{% if is_granted('ROLE_ADMIN') %}
											<td style="width:95px" data-id-ticket="{{ ticket.id }}">
												{% if ticket.regle %}
													<div class="btn-group">
														<button class="btn btn-success active"><i class="icon-ok"></i></button> 
														<button class="btn btn-default update-regle" data-regle="0"><i class="icon-remove text-pomegranate"></i></button> 
													</div>
												{% else %}
													<div class="btn-group">
														<button class="btn btn-default update-regle" data-regle="1"><i class="icon-ok text-emerald"></i></button> 
														<button class="btn btn-danger active"><i class="icon-remove"></i></button> 
													</div>
												{% endif %}
											</td>
										{% endif %}
									</tr>
							{% endfor %}
						{% endfor %}
					</tbody>
				</table>
			</div>
			<span class="pull-right">
				<strong>En cours : </strong> {{ encours|number_format(2, ',', ' ') }} €
			</span>
			{% else %}
				<em>Aucun cours donnés à ce jour</em>
			{% endif %}
			
			{% if is_granted('ROLE_ADMIN') %}
				<div class="clearfix"></div>
				<br><br>
				<span class="pull-right">Signaler par mail au professeur qu'il a été payé : <button type="button" class="btn btn-warning send-payment-confirmation confirm-majorclass" data-message="Envoyer un mail de confirmation de paiement?" data-id-professeur="{{ id_professeur }}"><i class="icon-envelope-alt"></i></button></span>
			{% endif %}
			
			<div class="clearfix"></div>
			<br><br>
			
			<h3>Cours donnés le mois dernier</h3><br>
					
			{% if tickets_last_month|length > 0 %}
			<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Date du cours</th>
							<th>Durée</th>
							<th>Elève</th>
							<th>Montant</th>
							<th>Statut</th>
							<th>Réglé</th>
						</tr>
					</thead>
					<tbody>
						{% for ticket in tickets_last_month %}
							{% for paiement in paiements if paiement.ticket.id == ticket.id %}
									<tr>
										<td>{{ ticket.dateCours|date("d/m/y") }}</td>
										<td>
											{% if ticket.quantite == 10 %}
												1h
											{% elseif ticket.quantite == 15 %}
												1h30
											{% elseif ticket.quantite == 20 %}
												2h
											{% elseif ticket.quantite == 25 %}
												2h30
											{% elseif ticket.quantite == 30 %}
												3h
											{% elseif ticket.quantite == 35 %}
												3h30
											{% elseif ticket.quantite == 40 %}
												4h
											{% elseif ticket.quantite == 45 %}
												4h30
											{% elseif ticket.quantite == 50 %}
												5h
											{% elseif ticket.quantite == 195 %}
												19h30
											{% endif %}
										</td>
										<td>{{ ticket.eleve.username }}</td>
										<td>
											{% if ticket.quantite == 10 %}
												25,00 €
											{% elseif ticket.quantite == 15 %}
												37,50 €
											{% elseif ticket.quantite == 20 %}
												50,00 €
											{% elseif ticket.quantite == 25 %}
												62,50 €
											{% elseif ticket.quantite == 30 %}
												75,00 €
											{% elseif ticket.quantite == 35 %}
												87,50 €
											{% elseif ticket.quantite == 40 %}
												100,00 €
											{% elseif ticket.quantite == 45 %}
												112,50 €
											{% elseif ticket.quantite == 50 %}
												125,00 €
											{% elseif ticket.quantite == 195 %}
												487.50 €
											{% endif %}
										</td>
										<td>
											{% if paiement.transaction == 0 %}
												<i rel="tooltip" data-title="Annulé" class="icon-remove text-red icon-large cursor-help"></i>
											{% elseif paiement.transaction == 1 %}
												<i rel="tooltip" data-title="Paiement par la famille en cours" class="icon-spin icon-spinner icon-large text-orange cursor-help"></i>
											{% elseif paiement.transaction == 2 %}
												<i rel="tooltip" data-title="Payé par la famille" class="icon-ok icon-large text-green cursor-help"></i>
											{% else %}
												<i rel="tooltip" data-title="Statut inconnu" class="icon-question-sign icon-large text-grey cursor-help"></i>
											{% endif %}
										</td>
										<td>
											{% if ticket.regle %}
												<em>Oui</em>
											{% else %}
												<em>Non</em>
											{% endif %}
										</td>
										{% if is_granted('ROLE_ADMIN') %}
											<td style="width:95px" data-id-ticket="{{ ticket.id }}">
												{% if ticket.regle %}
													<div class="btn-group">
														<button class="btn btn-success active"><i class="icon-ok"></i></button> 
														<button class="btn btn-default update-regle" data-regle="0"><i class="icon-remove text-pomegranate"></i></button> 
													</div>
												{% else %}
													<div class="btn-group">
														<button class="btn btn-default update-regle" data-regle="1"><i class="icon-ok text-emerald"></i></button> 
														<button class="btn btn-danger active"><i class="icon-remove"></i></button> 
													</div>
												{% endif %}
											</td>
										{% endif %}
									</tr>
							{% endfor %}
						{% endfor %}
					</tbody>
				</table>
			</div>
			<span class="pull-right">
				<strong>Total : </strong> {{ total|number_format(2, ',', ' ') }} €
			</span>
			{% else %}
				<em>Aucun cours donnés à ce jour</em><br><br>
			{% endif %}		
			
		</div>
{% endblock %}

{% if is_granted('ROLE_ADMIN') %}
	{% block javascripts %}
		{{ parent() }}
		{% javascripts filter='yui_js' output='js/*'
			'../app/Resources/js/admin/cours-donnes.js'
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endblock %}
{% endif %}