{% extends "::layout-main.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block body %}

{% for message in app.session.flashbag.get('info') %}
<div class="col-lg-12 alert-majorclass">
	<div class="container">
		<br>
		<div class="alert alert-info">			
			<button type="button" class="close close-majorclass">&times;</button>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
				<span class="hidden-xs"><br></span>
				<img src="{{ asset('img/common/crest.png') }}" style="height:80px;" />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
				<h3 class="text-left-lg-center-xs"> Cours déclaré</h3>
				<span class="hiddex-xs">Le cours a été déclaré avec succès !</span>
			</div>
			<div class="clearfix"></div><br>
		</div>
	</div>
</div>
{% endfor %}
{% for message in app.session.flashbag.get('warning') %}
<div class="col-lg-12 alert-majorclass">
	<div class="container">
		<br>
		<div class="alert alert-info">
			<button type="button" class="close close-majorclass">&times;</button>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
				<span class="hidden-xs"><br></span>
				<img src="{{ asset('img/common/flag.png') }}" style="height:80px;" />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
				<h3 class="text-left-lg-center-xs"> Problème lors de la déclaration du cours</h3>
				Le formulaire de déclaration n'a pas bien été rempli. Veuillez le compléter et réessayer. Si le problème persiste, veuillez contacter Majorclass au +33 6 76 10 15 98.
			</div>
			<div class="clearfix"></div><br>
		</div>
	</div>
</div>
{% endfor %}
{% for message in app.session.flashbag.get('incorrect_pass') %}
<div class="col-lg-12 alert-majorclass">
	<div class="container">
		<br>
		<div class="alert alert-info">
			<button type="button" class="close close-majorclass">&times;</button>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
				<span class="hidden-xs"><br></span>
				<img src="{{ asset('img/common/flag.png') }}" style="height:80px;" />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
				<h3 class="text-left-lg-center-xs"> Mot de passe incorrect</h3>
				Le mot de passe doit être celui d'un parent de l'élève.
			</div>
			<div class="clearfix"></div><br>
		</div>
	</div>
</div>
{% endfor %}

<div id="home-banner-1" class="col-lg-12">
<div class="container">
	<br><span class="hidden-xs"><br></span>
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
		<img src="{{ asset('img/common/calendar.png') }}" style="height:120px;" />
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
		<form role="form-inline" method="post" action="{{ path('majordesk_app_index_professeur') }}">
			<h3 class="text-left-lg-center-xs">Déclarer un cours</h3><br>
			<div class="row">
				<label class="col-lg-1"><span class="pull-right">De</span></label>
				<div class="col-lg-3">
				  <span class="bootstrap-timepicker" style="color:black;">{{ form_widget(form.quantite) }}</span>
				</div>
			</div>
			<br>
			<div class="row">
				<label class="col-lg-1"><span class="pull-right">Pour</span></label>
				<div class="col-lg-3">
					{{ form_widget(form.eleve) }}
				</div>
			</div>
			<br>
			<div class="row">
				<label class="col-lg-1"><span class="pull-right">En</span></label>
				<div class="col-lg-3">
				  {{ form_widget(form.matiere) }} 
				</div>
			</div>
			<br>
			<div class="row">
				<label class="col-lg-1"><span class="pull-right">Le</span></label>
				<div class="col-lg-3">
				  {{ form_widget(form.dateCours) }}
				</div>
			</div>
			<br>
			<div class="row">
				<label class="col-lg-1"><span class="pull-right">MdP</span></label>
				<div class="col-lg-3">
				  {{ form_widget(form.passparent) }}
				</div>
				<span class="hidden-lg"><br></span>
				<div class="col-lg-3">
					<button type="submit" class="btn btn-primary pull-right confirm-majorclass" data-message="Confirmez-vous la déclaration de ce cours ?"><i class="icon-ok"></i> Valider</button>
				</div>
			</div>
			{{ form_widget(form._token) }}
		</form>
	</div>
</div>
<div class="clearfix"></div><br><span class="hidden-xs"><br></span>
</div>	

	{% if not user.hasCasier or not user.hasCarteEtudiant  or not user.hasCarteIdentite  or not user.hasContrat %}
	<div class="col-lg-12">
		<div class="container">
			<br><span class="hidden-xs"><br></span>
			<div class="alert alert-info">
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
					<span class="hidden-xs"><br></span>
					<img src="{{ asset('img/common/document.png') }}" style="height:80px;" />
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
					<h3 class="text-left-lg-center-xs"> Enregistrer tes documents </h3>
					Afin de pouvoir commencer les cours, tu dois préalablement enregistrer les documents suivants :
					<ul>
						<li>un scan (ou photo) de ta carte d'identité {% if user.hasCarteIdentite %}<i class="icon-ok text-emerald"></i>{% else %}<i class="icon-remove text-pomegranate"></i>{% endif %}</li>
						<li>un scan (ou photo) de ta carte d'étudiant {% if user.hasCarteEtudiant %}<i class="icon-ok text-emerald"></i>{% else %}<i class="icon-remove text-pomegranate"></i>{% endif %}</li>
						<li>un scan (ou photo) de ton casier judiciaire {% if user.hasCasier %}<i class="icon-ok text-emerald"></i>{% else %}<i class="icon-remove text-pomegranate"></i>{% endif %}</li>
						<li>un scan (ou photo) de ton contrat signé {% if user.hasCasier %}<i class="icon-ok text-emerald"></i>{% else %}<i class="icon-remove text-pomegranate"></i>{% endif %}</li>
					<ul></ul>
					<br>
					<br>
					<div class="text-left-lg-right-xs">
						<a href="{{ path('majordesk_app_profil') }}" class="btn btn-warning">Enregistrer mes documents</a>
					</div>
				</div>
				<div class="clearfix"></div><br>
			</div>
		</div>
	</div>
	{% endif %}
	
	{% if not user.hasSecuriteSociale or not user.hasRib %}
	<div class="col-lg-12">
		<div class="container">
			<br><span class="hidden-xs"><br></span>
			<div class="alert alert-info">
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
					<span class="hidden-xs"><br></span>
					<img src="{{ asset('img/common/cards.png') }}" style="height:40px;" />
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
					<h3 class="text-left-lg-center-xs"> Enregistrer tes informations </h3>
					Nous avons également besoin des informations suivantes :
					<ul>
						<li>ton N° de Sécurité Sociale {% if user.hasSecuriteSociale %}<i class="icon-ok text-emerald"></i>{% else %}<i class="icon-remove text-pomegranate"></i>{% endif %}</li>
						<li>ton RIB {% if user.hasRib %}<i class="icon-ok text-emerald"></i>{% else %}<i class="icon-remove text-pomegranate"></i>{% endif %}</li>
					</ul>
					<br>
					<br>
					<div class="text-left-lg-right-xs">
						<a href="{{ path('majordesk_app_profil') }}" class="btn btn-warning">Enregistrer mes informations</a>
					</div>
				</div>
				<div class="clearfix"></div><br>
			</div>
		</div>
	</div>
	{% endif %}

<div class="col-lg-12">
	<div class="container">
		<br><span class="hidden-xs"><br></span>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
			<img src="{{ asset('img/common/compteur.png') }}" style="height:70px;" />
		</div>
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
			<h3 class="text-left-lg-center-xs"> Cours récents </h3>
			{% if tickets|length > 0 %}
			<!--<div class="table-responsive">-->
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Date</th>
							<th>Durée</th>
							<th>Elève</th>
							<th class="hidden-xs">Montant</th>
							<th class="hidden-xs">Statut</th>
						</tr>
					</thead>
					<tbody>
						{% for ticket in tickets %}
							{% for paiement in paiements if paiement.ticket.id == ticket.id %}
									<tr>
										<td>{{ ticket.dateCours|date("d/m/y") }}</td>
										<td>
											{% if ticket.quantite == 10 %}
												1h
											{% elseif ticket.quantite == 15 %}
												1h30
											{% elseif ticket.quantite == 20 %}
												2h
											{% elseif ticket.quantite == 25 %}
												2h30
											{% elseif ticket.quantite == 30 %}
												3h
											{% elseif ticket.quantite == 35 %}
												3h30
											{% elseif ticket.quantite == 40 %}
												4h
											{% elseif ticket.quantite == 45 %}
												4h30
											{% elseif ticket.quantite == 50 %}
												5h
											{% elseif ticket.quantite == 195 %}
												19h30
											{% endif %}
										</td>
										<td>{{ ticket.eleve.username }}</td>
										<td class="hidden-xs">
											{% if ticket.quantite == 10 %}
												25,00 €
											{% elseif ticket.quantite == 15 %}
												37,50 €
											{% elseif ticket.quantite == 20 %}
												50,00 €
											{% elseif ticket.quantite == 25 %}
												62,50 €
											{% elseif ticket.quantite == 30 %}
												75,00 €
											{% elseif ticket.quantite == 35 %}
												87,50 €
											{% elseif ticket.quantite == 40 %}
												100,00 €
											{% elseif ticket.quantite == 45 %}
												112,50 €
											{% elseif ticket.quantite == 50 %}
												125,00 €
											{% elseif ticket.quantite == 195 %}
												487.50 €
											{% endif %}
										</td>
										<td class="hidden-xs">
											{% if paiement.transaction == 0 %}
												<i rel="tooltip" data-title="Annulé" class="icon-remove text-red icon-large cursor-help"></i>
											{% elseif paiement.transaction == 1 %}
												<i rel="tooltip" data-title="Paiement par la famille en cours" class="icon-spin icon-spinner icon-large text-orange cursor-help"></i>
											{% elseif paiement.transaction == 2 %}
												<i rel="tooltip" data-title="Payé par la famille" class="icon-ok icon-large text-green cursor-help"></i>
											{% else %}
												<i rel="tooltip" data-title="Statut inconnu" class="icon-question-sign icon-large text-grey cursor-help"></i>
											{% endif %}
										</td>
									</tr>
							{% endfor %}
						{% endfor %}
					</tbody>
				</table>
			<!--</div>-->
			{% else %}
				<em>Aucun cours donnés à ce jour</em>
			{% endif %}
			<a href="{{ path('majordesk_app_cours_donnes', {'id_professeur' : user.id }) }}" class="btn btn-warning pull-right">Plus de détails</a>
		</div>
		<div class="clearfix"></div><br>
	</div>
</div>
<div class="col-lg-12">
	<div class="container">
		<br><span class="hidden-xs"><br></span>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
			<img src="{{ asset('img/common/facebook.png') }}" style="height:120px;" />
		</div>
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
			<h3 class="text-left-lg-center-xs">Rejoins-nous sur Facebook</h3>
			<div class="col-lg-12 text-left-lg-center-xs">
				<div class="fb-like fb-responsive" data-href="https://www.facebook.com/MajorclassOfficialPage" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
			</div>
			<br><br>
			<h3 class="text-left-lg-center-xs">Et recommande-nous !</h3>
			<div class="col-lg-12 text-left-lg-center-xs">
				<div class="fb-share-button" data-href="https://www.facebook.com/MajorclassOfficialPage" data-type="button_count">Partager</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div><br><span class="hidden-xs"><br></span>
</div>
<div class="col-lg-12">
	<div class="container">
		<br><span class="hidden-xs"><br></span>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
			<img src="{{ asset('img/common/twitter.png') }}" style="height:130px;" />
		</div>
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
			<h3 class="text-left-lg-center-xs">Suis-nous sur Twitter...</h3>
			<div class="col-lg-12 text-left-lg-center-xs">
				<a href="https://twitter.com/Majorclass_" class="twitter-follow-button" data-show-count="false" data-lang="fr" data-size="large" data-dnt="true">Suivre @Majorclass_</a>
			</div>
			<br><br>
			
		</div>
	</div>
	<div class="clearfix"></div><br><span class="hidden-xs"><br></span>
</div>
<div class="col-lg-12">
	<div class="container">
		<br><span class="hidden-xs"><br></span>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
			<img src="{{ asset('img/common/linkedin.png') }}" style="height:120px;" />
		</div>
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
			<h3 class="text-left-lg-center-xs">...et même sur LinkedIn pour être dans nos petits papiers !</h3>
			<div class="col-lg-12 text-left-lg-center-xs">
				<script src="//platform.linkedin.com/in.js" type="text/javascript">
				 lang: fr_FR
				</script>
				<script type="IN/FollowCompany" data-id="5037352" data-counter="right"></script>
			</div>
			<br><br>
		</div>
	</div>
	<div class="clearfix"></div><br><br>
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='yui_js' output='js/*' 
		'../app/Resources/js/common/bootstrap-datepicker.min.js'
		'../app/Resources/js/locales/bootstrap-datepicker.fr.js' 	
		'../app/Resources/js/professeur/index-professeur.js'	
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}