{% extends "::layout-main.html.twig" %}
				
{% block title %}
	Majorclass - FAQ
{% endblock %}
{% block metadescription %}
	Les questions fréquemment posées par nos clients.
{% endblock %}

{% block navbar %}
	<li><a href="{{ path('majordesk_app_presentation_cours') }}">Les Cours</a></li>
	<li><a href="{{ path('majordesk_app_presentation_plateforme') }}">Démarche Simplifiée</a></li>
	<li><a href="{{ path('majordesk_app_presentation_tarifs') }}"> Le Tarif</a></li>
	<li><a href="{{ path('majordesk_app_presentation_equipe') }}">Contact</a></li>
	{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li><a href="{{ path('majordesk_app_index') }}">Se connecter <i class="icon-off"></i></a></li>{% endif %}
{% endblock %}

{% block body %}
	<div id="home-banner-0">
		<br>
		<div class="container home-container">
			<div class="text-center" style="font-size:35px">
				Les questions fréquemment posées
			</div>
		</div>
		<br>
	</div>
	<div class="container home-container">
		<br><span class="hidden-xs"><br></span>
		<div class="col-lg-12">
			<h3>Comment l'inscription se déroule-t-elle ?</h3>
			<br>
			Elle se fait <strong>en ligne</strong>, <strong>rapidement</strong> et <strong>gratuitement</strong>, depuis <a href="{{ path('majordesk_app_inscription') }}" rel="nofollow">ce lien</a>. 
			<br><br>
			<em>Etape n°1</em> : Une fois inscrit(e), nous vous confirmons par mail dans les meilleurs délais qu’un professeur de notre équipe peut bien prendre en charge votre enfant compte tenu de votre situation géographique et de vos disponibilités.
			<br><br>
			<em>Etape n°2</em> : Vous confirmez votre inscription en enregistrant un moyen de paiement (cf le "<a href="#module">module de paiements facilité</a>") depuis votre espace personnel.
			<br><br>
			<em>Etape n°3</em> : Vous êtes mis en relation avec le professeur de votre enfant, afin de convenir du premier cours.
			<br><br>
			Vous pouvez bien sûr effectuer directement l'<em>Etape n°2</em>, auquel cas vous serez mis en relation avec votre professeur dès que nous vous l'aurons assigné.
			<br><br>
			<h3>Comment réserver mon premier cours ?</h3>
			<br>Une fois votre inscription finalisée, c'est-à-dire lorsque :
			<ul>
				<li>nous vous avons confirmé votre prise en charge par un de nos professeurs</li>
				<li>vous avez renseigné vos coordonnées bancaires</li>
			</ul>
			Alors <strong>nous vous mettons en contact avec votre professeur</strong>, qui pourra organiser avec vous votre premier cours. 
			<br><br>
			<h3>Comment se déroule la déclaration d'un cours ?</h3>
			<br>A la fin d'un cours, le cours doit être déclaré en ligne depuis l'un des trois espaces suivants :
			<ul>
				<li>compte de l'élève</li>
				<li>compte des parents</li>
				<li>compte du professeur : la déclaration nécessite alors le mot de passe des parents ou de l'élève</li>
			</ul>
			Cette action est très rapide et ne vous prendra qu'un clic !
			<br><br>
			<h3 id="module">Qu'est-ce que le "module de paiements facilités" ?</h3>
			<br>
			Le <strong>module de paiements facilités</strong> est un service proposé par Merc@net, la solution en ligne de BNP Paribas. Ce service vous permet de sauvegarder les coordonnées de votre carte bancaire, afin de pouvoir acheter sans devoir ré-entrer votre numéro de carte bancaire à chaque fois. Nous <u>ne disposons pas de vos coordonnées bancaires</u>; celles-ci sont sauvegardées et sécurisées par BNP Paribas exclusivement.
			<br><br>
			Vous avez accès à la gestion de vos cartes bancaires sauvegardées : vous pouvez donc à tout moment les retirer du module ou en changer les coordonnées en cas par exemple d'expiration de votre carte.
			<br><br>
			<h3>Pourquoi imposer le paiement par prélèvement ?</h3>
			<br>
			Quoi de plus pratique ! Vous entrez une fois vos coordonnées, puis vous gérez simplement les heures de cours prises par votre enfant grâce aux outils mis à votre disposition : liste des heures prises, calendrier des cours, factures mensuelles, alertes par mail. 
			<br><br>
			<strong>Notre priorité est la qualité de notre service</strong>, et donc le suivi pédagogique de votre enfant par son professeur. Notre première préoccupation est donc <strong>la continuité du travail</strong> qui ne saurait être interrompu une semaine pour cause d’oubli de recharger son nombre d’heures. 
			C’est pourquoi nous faisons le choix d’automatiser tout ce qui ne concerne pas notre coeur de métier : l’apprentissage. 
			<br><br>
			<h3>Qui dois-je contacter en cas de problème ? </h3>
			<br>
			En cas de problème, n’hésitez pas à nous adresser un mail à l’adresse suivante : <a href="mailto:contact@majorclass.fr" rel="nofollow">contact@majorclass.fr</a><br>
			Selon l’urgence de votre problème, vous pouvez nous laisser vos coordonnées téléphoniques pour pouvoir être appelé. 
		</div>
		<br><br>
	</div>
{% endblock %}	