{% extends "::layout-main.html.twig" %}
				
				{% block title %}
					{{ parent() }}
				{% endblock %}
				
				{% block navbar %}
				    <li><a href="{{ path('majordesk_app_presentation_cours') }}">Cours</a></li>
				    <li><a href="{{ path('majordesk_app_presentation_tarifs') }}">Tarif</a></li>
				    <li><a href="{{ path('majordesk_app_presentation_equipe') }}">Qui sommes-nous?</a></li>
				    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li><a href="{{ path('majordesk_app_index') }}">Se connecter <i class="icon-off"></i></a></li>{% endif %}
				{% endblock %}

{% block body %}
	<div id="home-banner-0" class="hidden-xs">
		<div class="home-container intro-container">
			<div class="col-lg-12 text-center">
				<span class="hidden-xs marque-tall">Majorclass</span>
				<span class="font-size-28">Cours particuliers de qualité.</span>
				<br><br>
			</div>
		</div>
	</div>	
	<div id="home-banner-1" class="col-lg-6 cursor">
		<a href="{{ path('majordesk_app_presentation_cours') }}" style="text-decoration:none;">
		<div class="container col-lg-offset-1 col-lg-11 home-container cours-container">
			<div class="col-sm-4 col-md-4 col-lg-4 text-right-lg-center-xs">
				<img src="{{ asset('img/home/prof.png') }}" style="height:155px;" />
			</div>
			<div class="col-sm-8 col-md-8 col-lg-8 text-left-lg-center-xs text-white">
				<h1 class="font-responsive-26">Cours particuliers</h1>
				<span class="hidden-xs font-size-20">Des professeurs issus des Grandes Ecoles françaises</span>
			</div>
		</div>
		<div class="clearfix"></div>
		</a>
	</div>	
	<div id="home-banner-2" class="col-lg-6 cursor">
		<a href="{{ path('majordesk_app_presentation_plateforme') }}" style="text-decoration:none;">
		<div class="container col-lg-offset-1 col-lg-11 home-container plateforme-container">
			<div class="col-sm-4 col-md-4 col-lg-4 text-right-lg-center-xs">
				<img src="{{ asset('img/home/plateforme.png') }}" style="height:155px;" />
			</div>
			<div class="col-sm-8 col-md-8 col-lg-8 text-left-lg-center-xs text-white">
				<h1 class="font-responsive-26">Gestion simplifiée</h1>
				<span class="hidden-xs font-size-20">Inscription, paiement et suivi en ligne</span>
			</div>
		</div>
		<div class="clearfix"></div>

		</a>
	</div>	
	<div class="clearfix"></div>
	<br>
	<div class="container">
		<div class="col-lg-9">
			<h3><i class="icon-laptop"></i> Inscription</h3>
			Lorsque vous vous inscrivez, nous sommes immédiatement avertis et nous vous contactons dans les plus brefs délais. 
			<br><br>
			<div class="text-center"><a href="{{ path('majordesk_app_inscription') }}" class="btn btn-warning btn-lg">S'inscrire <i class="icon-unlock-alt"></i></a></div>
		</div>
		<div class="col-lg-3 text-center">
			<br><br>
			<a href="http://www.servicesalapersonne.gouv.fr"><img src="{{ asset('img/home/traceur.png') }}" style="width:80px;" /></a>
		</div>
	</div>
	<br><br><br>
{% endblock %}	