{% extends "::layout-main.html.twig" %}
				
				{% block title %}
					{{ parent() }}
				{% endblock %}
				
				{% block navbar %}
				    <li class="active"><a href="{{ path('majordesk_app_principe_index') }}">Principe</a></li>
				    <li><a href="{{ path('majordesk_app_presentation_tarifs') }}">Tarifs</a></li>
				    <li><a href="{{ path('majordesk_app_presentation_equipe') }}">Qui sommes-nous?</a></li>
				    <li><a href="{{ path('majordesk_app_index') }}">Se connecter <i class="icon-off"></i></a></li>
				{% endblock %}

{% block body %}
	<div id="home-banner-0">
		<br>
		<div class="home-container intro-container">
			<div class="col-lg-12 text-center">
				<span class="marque-tall">Majorclass</span><br>
				<span class="hidden-xs font-size-28">réinvente les cours particuliers</span>
			</div>
		</div>
	</div>	
	<div id="home-banner-1" class="col-lg-6 cursor">
		<a href="{{ path('majordesk_app_presentation_cours') }}">
		<div class="container col-lg-12 home-container cours-container">
			<div class="col-lg-4">
				<img src="{{ asset('img/home/prof.png') }}" class="img-responsive pull-right" />
			</div>
			<div class="col-lg-8 text-white">
				<h1 class="font-responsive">Les cours particuliers</h1>
				<span class="hidden-xs font-size-20 font-responsive">Des professeurs issus des Grandes Ecoles françaises</span>
			</div>
		</div>
		<br>
		</a>
	</div>	
	<div id="home-banner-2" class="col-lg-6 cursor">
		<a href="{{ path('majordesk_app_presentation_plateforme') }}">
		<div class="container col-lg-12 home-container plateforme-container">
			<div class="col-lg-4">
				<img src="{{ asset('img/home/plateforme.png') }}" class="img-responsive pull-right" />
			</div>
			<div class="col-lg-8 text-white">
				<h1 class="font-responsive">L'environnement de travail</h1>
				<span class="hidden-xs font-size-20 font-responsive">Une plateforme utilisée pendant et entre les cours</span>
			</div>
		</div>
		<br>
		</a>
	</div>	
	<div class="clearfix"></div>
	
	<script type="text/javascript" language="javascript" src="http://www.geogebra.org/web/4.4/web/web.nocache.js"></script>
	<article class="geogebraweb" data-param-width="1200" data-param-height="400" data-param-showResetIcon="false" data-param-enableRightClick="false" data-param-enableLabelDrags="true" data-param-showMenuBar="true" data-param-showToolBar="true" data-param-showAlgebraInput="true" data-param-useBrowserForJS="false" data-param-ggbbase64="UEsDBBQACAAIAJdWe0MAAAAAAAAAAAAAAAAWAAAAZ2VvZ2VicmFfamF2YXNjcmlwdC5qc0srzUsuyczPU0hPT/LP88zLLNHQVKiuBQBQSwcI1je9uRkAAAAXAAAAUEsDBBQACAAIAJdWe0MAAAAAAAAAAAAAAAAMAAAAZ2VvZ2VicmEueG1s1VhZb9s4EH5Of8VAz7FMijoLu0VboNgCbbfYdBeLfaMkRmYji4JEO3bRH79DUvKV9EjSXaRpHWqo4RzfHBxn9nyzrGEtul6qZu5Rn3ggmkKVsqnm3kpfTlLv+bMns0qoSuQdh0vVLbmee6EfePtzSPkxMYdlOfeyjGVBxLJJxEIxCQvGJznNy0lciDAu0yIhhHkAm14+bdR7vhR9ywtxUSzEkr9VBddW5kLr9ul0en197Y/afdVV06rK/U1feoCWN/3cGx6eorijQ9fMsgeE0Onf79468RPZ9Jo3hfDAeLWSz56cza5lU6pruJalXiAGGYs9WAhZLdBPSjKkpoatRW9bUWi5Fj0ePiCt13rZepaNN+b9mXuCeueQB6Vcy1J0c4/4lDBGoiSNaMCyOM4iD1QnRaMHZjoonY7iZmsprp1c82RVhiRLMAqyl3kt5t4lr3t0TDaXHYKKFnUrJHu9rUXOu5HeG0TP8R8yyM/CyMLoOSSM1+TcfDBS51FEnC2Hij3QStVWKoEogy9fICABgXOzULcEuMSxe0XcHmFuCdwSuiVyPKE7HjrW0PGEjidk3/BzoPeODhtHno5+stv8jPFjATjxMz3wkxonvgA11tuFgbGbWvvNEg5k7MjELpS4hQ4vU/PL4hU/0CN2L4/ogVaXD3dROqqkCQl/XGfwEJ07N4Pb3Ayir7j5QHR3jkYHSlGX/W8/N1Sy4C4qb9TiPTTG4UOK/x4KE/J/KJxNx1Y3G4oP+oXhHXJHi2Vv2g7LbOcBChFWZpxgo4iAZrgkpkIDoBGEEZI0hdisCTBTlCEwSMHwUQa2v0Qp/gptwcYQoSyzmbjKBRZCxIDarhQC9iKwnQ27XMCQI4ogwkNGOzVqWQxhjARLIUQDTU9LTN9geA5pVB4Ao8DMWZpAEEMcQGL6Ig1Nu4xTYzsKDSAmEJuj2BixKbqGiCdSYMYbzPBW9XIH7kLU7S4qFkfZtCt9hF2xLMdHrU64S1VcvTzBWvBej8/IhLfR/tJzt9PRnXg2q3kuapwdLkwaAKx5bSrYyr9UjYYxBQK3V3W8XciivxBa46kePvE1f8u12LxG7n400Kq2l/VMrIpalpI3f2GOGBFGIOzubtuXxrs7Y6lTUyjVlRfbHjMHNv+ITmE3oZEZV7aOYjT0s8MflNIX3KR5ZMea7UCF2TFf5hSI9c4DvhH9CFnVmaoZQDbEm/6lqvdbrZKNfsVbversvIW9rjOmv2iqWlgIbWRxcimucrW5cNgxJ+vjtkWKOAPy6pWqVQdYd0GEs0Q1rLlbLY+xbMdFLA+xHGQMhix372kWWA675m61XBhdZ9rgKR3dpGRUI3vbLVD4YS7Z1DBT0KqR+u1IaFlc7T01/O9Xyxyzajh2LJL+JJGz6Ukeza5E14jaJUuDkVypVe/Sd5eCZ7NVLz5wvXjRlH+ICuvuAzetT6Nox7q3uBSFXOJBtz9Ax01Y/0RT3W4pqk6MHtZ2wHXA2rfkMHVvbFtRrzu1fNOsP2LOnJg6m47+zPqik61JTcixF1+JffaVsufYycvDc+h8j14UpqsgkNqA6AFf6YXq7ASLtYn+JPBercUy7wT2Q0xIU5i1WOL4Ctqmpc3sXYBe2MHYRAJU/gnbxUkA97jh61tT1CYzr9sFN8PzAELNt6I7gsXKe6fKU7AwFtYj7ACty4pWCJdPzl58aFGcrcKDgFv0e9jMvQn1U2wKWyxSH2fuz+67kvteYHw1tXnU7tzuSeAw7xxM3wHs5a8PWODTES/s9v81YK9+fcAmgZ+kFrHIN5PdT0CsUMslb0po7ID2QdXbSjXefjTgxNQmcGoyDnhgcHQgrfT4vsVT1PEUjofjwuZe7rQNOm6Jj9M2RsDJOb5BNN79V/j1trffEfRwodmH32RZCjvYTL8d2QMsD0NLI2aDG9HhitvHlt4ltl9PwF5UhtoZUnwnBe9u6B2TcJ9KxI9ScvhDh0rMjrddlk0o8+MoTQ/Zp/cNFGZObZL8TWOuRWEvkpsX6ZUQrZlffm8+drzpzR+Vjm/QH4edPx7YsYIjejQdxhb3CQ6XrgUGxE9CdmOSesTw5o8HXupn7AjdyKJLTrfd9YyKMhodxiJ9VLBPD0ct+/1m+CPns38BUEsHCAFBqa08BgAAlBUAAFBLAQIUABQACAAIAJdWe0PWN725GQAAABcAAAAWAAAAAAAAAAAAAAAAAAAAAABnZW9nZWJyYV9qYXZhc2NyaXB0LmpzUEsBAhQAFAAIAAgAl1Z7QwFBqa08BgAAlBUAAAwAAAAAAAAAAAAAAAAAXQAAAGdlb2dlYnJhLnhtbFBLBQYAAAAAAgACAH4AAADTBgAAAAA="></article>
	
	<br><br>
	<span class="mathquill-editable">héhé a blbla : $x+1=10$</span>
	<br><br>
	
	
{% endblock %}	

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='yui_js' output='js/*' 
		'../app/Resources/js/home/index.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}