{% extends "::layout-main.html.twig" %}
				
				{% block title %}
					Inscription
				{% endblock %}
				
				{% block navbar %}
				    <li><a href="{{ path('majordesk_app_presentation_cours') }}">Cours</a></li>
				    <li><a href="{{ path('majordesk_app_presentation_tarifs') }}">Tarif</a></li>
				    <li><a href="{{ path('majordesk_app_presentation_equipe') }}">Qui sommes-nous?</a></li>
				    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li><a href="{{ path('majordesk_app_index') }}">Se connecter <i class="icon-off"></i></a></li>{% endif %}
				{% endblock %}

{% block body %}
	<br><br>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
					<div class="col-lg-4">
						<p class="text-center">{% if app.session.get('etape_inscription') == 1 or app.session.get('etape_inscription') == 2 %}<a href="{{ path('majordesk_app_inscription', {'etape_inscription':1}) }}" class="{% if etape_inscription != 1 %}text-mid-grey{% endif %}">1. Inscription de l'élève</a>{% else %}<span class="text-mid-grey cursor-forbidden">1. Inscription de l'élève</span>{% endif %}</p>
					</div>
					<div class="col-lg-4">
						<p class="text-center">{% if app.session.get('etape_inscription') == 2 %}<a href="{{ path('majordesk_app_inscription', {'etape_inscription':2}) }}" class="{% if etape_inscription != 2 %}text-mid-grey{% endif %}">2. Inscription d'un parent</a>{% else %}<span class="text-mid-grey cursor-forbidden">2. Inscription d'un parent</span>{% endif %}</p>
					</div>
					<div class="col-lg-4">
						<p class="text-center">{% if app.session.get('etape_inscription') == 3 %}<a href="{{ path('majordesk_app_inscription', {'etape_inscription':3}) }}" class="{% if etape_inscription != 3 %}text-mid-grey{% endif %}">3. Première connexion</a>{% else %}<span class="text-mid-grey cursor-forbidden">3. Première connexion</span>{% endif %}</p>
					</div>
				<br>
			</div>
		</div>
	</div>
	<br>
	
	<div class="container home-container">
	
		{% if etape_inscription == 1 %}
			<form method="post" action="{{ path('majordesk_app_inscription', {'etape_inscription':1}) }}">
			
				<div class="row">
					<div class="col-md-offset-3 col-lg-6">
					
						<h3><i class="icon-user icon-large text-yellow pull-left"></i> <p class="pull-left">Inscription de l'élève</p></h3>
						
						<br><br><br>
							{% if app.session.flashbag.get('info') %}
							<div class="alert alert-warning">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<strong>Champs incorrects :</strong><br><br>
								<ul><li>Programme : vous devez renseigné le niveau scolaire (Programme)</li></ul>
							</div>
							{% elseif app.session.flashbag.get('warning') %}
							<div class="alert alert-danger">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<strong>Champs incorrects :</strong><br><br>
								{% for field in form %}
									{{ form_errors(field) }}
								{% endfor %}
								{{ form_errors(form.password.pass) }} 
								{{ form_errors(form.password.confirm) }}
							</div>
							{% elseif app.session.flashbag.get('warning-matiere') %}
							<div class="alert alert-danger">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<strong>Champs incorrects :</strong><br><br>
								Veuillez sélectionner au moins une matière.
							</div>
							{% endif %}
					
						<br>
						<h4>Information sur l'élève</h4>
						<br>	
						
						<table class="table table-borderless table-hover">
						  <tbody>
							
							<tr>
							  <td class="col-lg-3">Prénom</td>
							  <td>
								{{ form_widget(form.username) }}
							  </td>
							</tr>
							
							<tr>
							  <td class="col-lg-3">Nom</td>
							  <td>
								{{ form_widget(form.nom) }}
							  </td>
							</tr>
							
							<tr>
							  <td class="col-lg-3">Programme</td>
							  <td>
								{{ form_widget(form.programme) }}
							  </td>
							</tr>
							
							<tr>
							  <td class="col-lg-3">Collège/Lycée</td>
							  <td>
								{{ form_widget(form.lycee) }}
							  </td>
							</tr>
							
							<tr>
							  <td class="col-lg-3">Téléphone (optionnel)</td>
							  <td>
								{{ form_widget(form.telephone) }}
							  </td>
							</tr>

						  </tbody>
						</table>
				
				<br>
				<h4>Pour se connecter à la plateforme</h4>
				<br>		
						<table class="table table-borderless table-hover">
						  <tbody>
							
							<tr>
							  <td class="col-lg-3">Email</td>
							  <td>
								{{ form_widget(form.mail) }}
							  </td>
							</tr>
							
							<tr>
							  <td class="col-lg-3">Mot de passe</td>
							  <td>
									{{ form_widget(form.password.pass, {'attr' : {'value' : app.session.get('password')} } ) }}
									{{ form_label(form.password.confirm) }}
									{{ form_widget(form.password.confirm, {'attr' : {'value' : app.session.get('password')} } ) }}
							  </td>
							</tr>

						  </tbody>
						</table>

				
				<br>
				<h4>Disponibilités de l'élève pour les cours</h4>
				<br>
				{% for disponibilite in form.disponibilites %}
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4">
						<div class="input-group">
							{{ form_widget(disponibilite.jour ) }}
							<span class="input-group-addon"><i class="icon-calendar"></i></span>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 col-lg-1 position-relative-down-8">
						<p class="text-center">de</p>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2">
						<span class="bootstrap-timepicker ">
							{{ form_widget(disponibilite.heureDebut ) }}
						</span>
					</div>
					<div class="col-sm-1 col-md-1 col-lg-1 position-relative-down-8">
						<p class="text-center">à</p>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2">
						<span class="bootstrap-timepicker ">
							{{ form_widget(disponibilite.heureFin ) }}
						</span>
					</div>
					<div class="col-sm-1 col-md-1 col-lg-1 position-relative-down-5">
						<button type="button" class="btn btn-danger remove-disponibilite-btn"><i class="icon-remove"></i></button>
					</div>
				</div>
					<br>
				{% endfor %}
			  
				  <span class="disponibilites" data-prototype='
					<span>
						<div class="row">
							<div class="col-sm-4 col-md-4 col-lg-4">
								<div class="input-group">
									{{ form_widget(form.disponibilites.vars.prototype.jour ) }}
									<span class="input-group-addon"><i class="icon-calendar"></i></span>
								</div>
							</div>
							<div class="col-sm-1 col-md-1 col-lg-1 position-relative-down-8">
								<p class="text-center"> de</p>
							</div>
							<div class="col-sm-2 col-md-2 col-lg-2">
								<span class="bootstrap-timepicker ">
									{{ form_widget(form.disponibilites.vars.prototype.heureDebut ) }}
								</span>
							</div>
							<div class="col-sm-1 col-md-1 col-lg-1 position-relative-down-8">
								<p class="text-center"> à</p>
							</div>
							<div class="col-sm-2 col-md-2 col-lg-2">
								<span class="bootstrap-timepicker ">
									{{ form_widget(form.disponibilites.vars.prototype.heureFin ) }}
								</span>
							</div>
							<div class="col-sm-1 col-md-1 col-lg-1 position-relative-down-5">
								<button type="button" class="btn btn-danger remove-disponibilite-btn"><i class="icon-remove"></i></button>
							</div>
						</div>
						<br>
					</span>
				  '></span>
				
				<br><br><br>
				
			<h4>Choix des matières :</h4>
				<div class="col-lg-12">
					<div class="checkbox">
						<label>
						   <h3><input type="checkbox" class="matiere maths" name="matiere_maths" {% if app.session.get('matiere_maths') == 1 %}checked="checked"{% endif %} > <span class="label label-primary">Mathématiques</span></h3>
						</label>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="checkbox">
						<label>
						  <h3><input type="checkbox" class="matiere physique" name="matiere_physique" {% if app.session.get('matiere_physique') == 1 %}checked="checked"{% endif %} > <span class="label label-success" >Physique-Chimie</span></h3> 
						</label>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="checkbox">
						<label>
						  <h3><input type="checkbox" disabled="disabled" class="matiere" name="matiere_svt" > <span class="label label-default" rel="tooltip" data-title="Indisponible pour l'instant" >S.V.T.</span></h3> 
						</label>
					</div>
				</div>

				<div class="clearfix"></div>
			

						<button type="submit" class="btn btn-success pull-right">Valider <i class="icon-angle-right icon-large"></i></button>
						<div class="clearfix"></div>
						<br><br><br>
					</div>
				</div>
			{{ form_widget(form._token) }}
			</form>
			
		{% elseif etape_inscription == 2 %}
			<form method="post" action="{{ path('majordesk_app_inscription', {'etape_inscription':2}) }}">
			
				<div class="row ">
					<div class="col-md-offset-3 col-lg-6">
			
				<h3>
					<i class="icon-user icon-large text-yellow pull-left"></i> <p class="pull-left">Inscription des parents</p>
				</h3>
					
				<br><br><br>

				{% for client in form.clients %}					
				
				{% if app.session.flashbag.get('warning-parents') %}
				<div class="alert alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Champs incorrects :</strong><br><br>
					{% for field in client %}
						{{ form_errors(field) }}
					{% endfor %}
					{{ form_errors(client.password.pass) }} 
					{{ form_errors(client.password.confirm) }}
				</div>
				{% endif %}
				
				<br>
				<h4>Informations sur le(s) Parent(s)</h4>
				<br>

						<table class="table table-borderless table-hover">
						  <tbody>
							<tr>
							  <td class="col-lg-3">Parenté</td>
							  <td>{{ form_widget(client.gender ) }}</td>
							</tr>
							
							<tr>
							  <td class="col-lg-3">Prénom</td>
							  <td>{{ form_widget(client.username ) }}</td>
							</tr>
							
							<tr>
							  <td class="col-lg-3">Nom</td>
							  <td>{{ form_widget(client.nom ) }}</td>
							</tr>
							
							<tr>
							  <td class="col-lg-3">Téléphone</td>
							  <td>{{ form_widget(client.telephone ) }}</td>
							</tr>
							</tbody>
						</table>
				<br>
				<h4>Domicile où se déroulera le cours</h4>
				<br>	
						<table class="table table-borderless table-hover">
						  <tbody>
							<tr>
							  <td class="col-lg-3">Adresse</td>
							  <td>{{ form_widget(client.adresse ) }}</td>
							</tr>
							
							<tr>
							  <td class="col-lg-3">Code postal</td>
							  <td>{{ form_widget(client.code_postal ) }}</td>
							</tr>
							
							<tr>
							  <td class="col-lg-3">Ville</td>
							  <td>{{ form_widget(client.ville ) }}</td>
							</tr>
							</tbody>
						</table>
				{% endfor %}
				
				<br>
				<h4>Pour se connecter à la plateforme</h4>
				<br>
				
				{% for client in form.clients %}	

						<table class="table table-borderless table-hover">
						  <tbody>
							<tr>
							  <td class="col-lg-3">Mail Parent</td>
							  <td>{{ form_widget(client.mail ) }}</td>
							</tr>
							
							<tr>
							  <td class="col-lg-3">Mot de passe</td>
							  <td>
								{{ form_widget(client.password.pass, {'attr' : {'value' : app.session.get('password_famille')} } ) }}
								{{ form_label(client.password.confirm) }}
								{{ form_widget(client.password.confirm, {'attr' : {'value' : app.session.get('password_famille')} } ) }}
							  </td>
							</tr>
							
							</tbody>
						</table>
				{% endfor %}

						<button type="submit" class="btn btn-success pull-right">Valider <i class="icon-angle-right icon-large"></i></button>
						<div class="clearfix"></div>
						<br><br><br>
					</div>
				</div>
				
			{{ form_widget(form._token) }}
			</form>
		{% elseif etape_inscription == 3 %}
		
		<div class="row ">
			<div class="col-lg-12">
		
				<h3>Bienvenue !</h3><br>
				Votre inscription s'est déroulée avec succès.
				<br><br><br>
				<h3>Et maintenant ?</h3><br>
				Vous pouvez dès à présent vous connecter à votre espace personnel.
				<br><br>
				Grâce aux informations que vous nous avez transmises, nous allons pouvoir sélectionner le professeur qui convient le mieux à votre enfant. 
				<br><br>Voici les étapes qui vous attendent :<br>
				<ul>
					<li><em>Etape 1</em> : vous recevez un mail de notre part vous signalant qu'un professeur vous a été assigné ;</li>
					<li><em>Etape 2</em> : vous enregistrez un moyen de paiement sur votre espace personnel ;</li>
					<li><em>Etape 3</em> : vous êtes mis en contact avec le professeur de votre enfant, afin de convenir du premier cours.</li>		
				</ul>
				Vous pouvez bien sûr effectuer directement l'<em>Etape 2</em>, auquel cas vous serez mis en relation avec votre professeur dès que nous vous l'aurons assigné.
				<br><br>
				N'hésitez pas à consulter la liste des questions fréquemment posées (<a href="www.majordesk.fr/faq">www.majordesk.fr/faq</a>) ou à nous contacter par mail à l'adresse <a href="mailto:contact@majorclass.fr">contact@majorclass.fr</a> si vous avez besoin de plus amples renseignements (laissez-nous votre numéro de téléphone en cas d'urgence).
				<br><br><br><br>
				<h3>Rendez-vous dès maintenant sur votre espace personnel en <a href="{{ path('majordesk_app_index') }}">vous connectant</a>.</h3>
		
			</div>
		</div>
		
		{% endif %}
		<div class="clearfix"></div>
			<br><br><br>
		
	</div>
{% endblock %}	

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='yui_js' output='js/*' 
		'../app/Resources/js/common/bootstrap-timepicker.min.js' 
		'../app/Resources/js/common/typeahead.min.js'
		'../app/Resources/js/home/inscription.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}