{% extends "::layout-main.html.twig" %}
				
{% block title %}
	Majorclass - Mentions légales
{% endblock %}
{% block extrametas %}
	<meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block navbar %}
	<li><a href="{{ path('majordesk_app_presentation_cours') }}">Les Cours</a></li>
	<li><a href="{{ path('majordesk_app_presentation_plateforme') }}">Démarche Simplifiée</a></li>
	<li><a href="{{ path('majordesk_app_presentation_tarifs') }}"> Le Tarif</a></li>
	<li><a href="{{ path('majordesk_app_presentation_equipe') }}">Qui sommes-nous?</a></li>
	{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li><a href="{{ path('majordesk_app_index') }}">Se connecter <i class="icon-off"></i></a></li>{% endif %}
{% endblock %}

{% block body %}
	<div id="home-banner-0">
		<br>
		<div class="container home-container">
			<div class="text-center" style="font-size:35px">
				Mentions légales
			</div>
		</div>
		<br>
	</div>	
	<div class="container">
		<br>
		<div itemscope itemtype="http://schema.org/EducationalOrganization">
		<strong itemprop="name">Majorclass</strong> - SARL au capital de 1 000€<br><br>
		Inscrit au RCS de Nanterre sous le numéro 789 493 467<br>
		Siège social : <span itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">2 Place des Reflets</span> - <span itemprop="addressLocality">Courbevoie</span> <span itemprop="postalCode">92400</span> - <span itemprop="adresseCountry">France</span></span><br>
		Tel: <span itemprop="telephone">+33 (0)6 63 15 24 17</span><br><br>
		Hébergeur : Planethoster - 4416 Louis B. Mayer, Laval, Québec, H7P 0G1 - Canada<br>
		Numéro de récépissé CNIL : en attente de réception
		</div>
	</div>
	<br><br><br>
{% endblock %}	