{% extends "::layout-main.html.twig" %}
				
{% block title %}
	Inscription gratuite en ligne 
{% endblock %}

{% block metadescription %}
	L'inscription est gratuite et en ligne pour un soutien scolaire disponible tout de suite.
{% endblock %}
{% block extrametas %}
	<meta name="robots" content="noindex, nofollow" />
{% endblock %}
				
{% block navbar %}
	<li><a href="{{ path('majordesk_app_presentation_cours') }}">Les Cours</a></li>
	<li class="active"><a href="{{ path('majordesk_app_presentation_plateforme') }}">Démarche simple</a></li>
	<li><a href="{{ path('majordesk_app_presentation_tarifs') }}"> Le Tarif</a></li>
	<li><a href="{{ path('majordesk_app_presentation_equipe') }}">Contact</a></li>
	{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li><a href="{{ path('majordesk_app_index') }}">Se connecter <i class="icon-off"></i></a></li>{% endif %}
{% endblock %}

{% block body %}
	<section id="home-banner-2" class="col-lg-12">
		<div class="container col-lg-offset-1 col-lg-11 home-container plateforme-container">
			<div class="col-sm-4 col-md-4 col-lg-4 text-right-lg-center-xs">
				<img alt="Démarche simplifiée" src="{{ asset('img/home/plateforme.png') }}" style="height:155px;" />
			</div>
			<div class="col-sm-8 col-md-8 col-lg-8 text-left-lg-center-xs text-white">
				<h1 class="font-responsive-26">Démarche simplifiée</h1>
				<h2 class="hidden-xs font-size-20">Inscription, paiement et suivi en ligne</h2>
			</div>
		</div>
		<div class="clearfix"></div>
	</section>	
	<section class="container home-container">
		<br><br>
		<div class="col-md-12 col-lg-12">
			<h3>Comment démarrer ?</h3>
			<br>
			L'inscription se fait <strong>en ligne</strong>, <strong>rapidement</strong> et <strong>gratuitement</strong>, depuis <a href="{{ path('majordesk_app_inscription') }}" rel="nofollow">ce lien</a>. 
			<br><br>
			<em>Etape n°1</em> : Une fois inscrit(e), nous vous confirmons par mail dans les meilleurs délais qu’un professeur de notre équipe peut bien prendre en charge votre enfant compte tenu de votre situation géographique et de vos disponibilités.
			<br><br>
			<em>Etape n°2</em> : Vous confirmez votre inscription en enregistrant un moyen de paiement (cf le "<a href="#module">module de paiements facilité</a>") depuis votre espace personnel.
			<br><br>
			<em>Etape n°3</em> : Vous êtes mis en relation avec le professeur de votre enfant, afin de convenir du premier cours.
		</div>
		<br><br><br>
		<div class="col-md-12 col-lg-12">
			<h3>Notre plateforme internet vous simplifie la vie</h3>
		</div>
		<div class="clearfix"></div>
		<br><br>
		<div class="col-md-2 col-lg-2">
			<i class="icon-ok text-emerald icon-large"></i> <strong>Inscription</strong>
		</div>
		<div class="col-md-10 col-lg-10">
			L'inscription est rapide, simple, <u>sans frais</u> et vous n'avez pas à vous déplacer. Une fois inscrit, nous sélectionnons un professeur de notre équipe qui vous contacte dans les plus brefs délais.
		</div>
		<div class="clearfix"></div>
		<br>
		<!--<div class="col-md-2 col-lg-2">
			<i class="icon-ok text-emerald icon-large"></i> <strong>Calendrier</strong>
		</div>
		<div class="col-md-10 col-lg-10">
			Les créneaux de cours sont facilement consultables dans un calendrier récapitulatif.
		</div>
		<div class="clearfix"></div>
		<br>-->
		<div class="col-md-2 col-lg-2">
			<i class="icon-ok text-emerald icon-large"></i> <strong>Suivi</strong>
		</div>
		<div class="col-md-10 col-lg-10">
			La plateforme vous permet de piloter facilement la fréquence des cours de votre enfant.
		</div>
		<br><br>
		<div class="col-md-2 col-lg-2">
			<i class="icon-ok text-emerald icon-large"></i> <strong>Paiements</strong>
		</div>
		<div class="col-md-10 col-lg-10">
			Grâce au <strong>module de paiements facilités</strong> de <strong>BNP Paribas</strong>, vous payez exactement le nombre d'heures dont vous avez besoin sans avoir à ressortir votre carte.
			(Consultez <a href="{{ path('majordesk_app_presentation_tarifs') }}">les Tarifs</a>).
		</div>
		<div class="clearfix"></div>
		<br><br><br>
		<div class="text-center">
			***
		</div>
		<br><br>
		<br><br><br>
	</section>
{% endblock %}	

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
	  $(document).ready(function() {
		$('.carousel').carousel({
		  interval: 4000
		})
	  });
	</script>
{% endblock %}