{% extends "::layout-main.html.twig" %}
				
{% block title %}
	Les fondateurs
{% endblock %}
{% block metadescription %}
	L'équipe et ses fondateurs : une longue expérience des cours particuliers.
{% endblock %}

{% block navbar %}
	<li><a href="{{ path('majordesk_app_presentation_cours') }}">Les Cours</a></li>
	<li><a href="{{ path('majordesk_app_presentation_plateforme') }}" rel="nofollow">Démarche Simplifiée</a></li>
	<li><a href="{{ path('majordesk_app_presentation_tarifs') }}"> Le Tarif</a></li>
	<li class="active"><a href="{{ path('majordesk_app_presentation_equipe') }}">Qui sommes-nous?</a></li>
	{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li><a href="{{ path('majordesk_app_index') }}" rel="nofollow">Se connecter <i class="icon-off"></i></a></li>{% endif %}
{% endblock %}

{% block body %}
	<div id="home-banner-0">
		<div class="container home-container">
			<h1 class="text-center" style="font-size:35px">
				L'équipe
			</h1>
		</div>
		<br>
	</div>
	<div class="container home-container">
		<br><span class="hidden-xs"><br><br></span>		
		<div class="col-lg-12">
			<strong class="font-majorclass">Majorclass</strong> se spécialise dans l'enseignement des matières scientifiques et met un point d'honneur à <strong>exiger le meilleur</strong> de ses professeurs.
			<br><br><br>
			<h3>Les fondateurs</h3>	<br>	
			<strong>Marc Perrin-Pelletier</strong> et <strong>Jonathan Menet</strong> sont deux entrepreneurs diplômés de l'Ecole Centrale Paris. Après avoir suivi la filière Centrale Entrepreneurs, et forts d'une longue expérience de professeur particulier, ils décident de mettre en commun
			 leurs expériences pour se lancer dans l'aventure en créant leur propre organisme. 
			 <br><br><br>
			 <div class="col-lg-6 text-center">
				<img src="{{ asset('img/home/photo-vide.jpg') }}" alt="Marc Perrin-Pelletier, Majorclass" class="img-circle" style="border:5px solid #19bc9c;height:120px;">
				<br><br>
				<strong>Marc Perrin-Pelletier</strong><br>
				Classe préparatoire au Lycée Saint Louis (Paris 5<sup>ème</sup>)<br>
				Ecole Centrale Paris (promotion 2012)<br>
				<a href="https://www.facebook.com/perrinpelletier" target="_blank"><img src="{{ asset('img/home/facebook.png') }}" style="height:20px;" /></a>
				<a href="https://twitter.com/Marcpepe19" target="_blank"><img src="{{ asset('img/home/twitter.png') }}" style="height:20px;" /></a>
				<a href="http://fr.linkedin.com/in/marcperrinpelletier" target="_blank"><img src="{{ asset('img/home/linkedin.png') }}" style="height:20px;" /></a>
				<a href="https://plus.google.com/+MarcPerrinPelletier" target="_blank"><img src="{{ asset('img/home/google-plus.png') }}" style="height:20px;" /></a>
				<a href="mailto:marc@majorclass.fr"><img src="{{ asset('img/home/mail.png') }}" style="height:20px;" /></a>
			 </div>
			 <div class="col-lg-6 text-center">
				<img src="{{ asset('img/home/photo-vide.jpg') }}" alt="Jonathan Menet, Majorclass" class="img-circle" style="border:5px solid #19bc9c;height:120px;">
				<br><br>
				<strong>Jonathan Menet</strong><br>
				Classe préparatoire au Lycée Fénelon Sainte-Marie (Paris 8<sup>ème</sup>)<br>
				Ecole Centrale Paris (promotion 2012)<br>
				<a href="http://fr.linkedin.com/in/jonathanmenet" target="_blank"><img src="{{ asset('img/home/linkedin.png') }}" style="height:20px;" /></a>
				<a href="mailto:jonathan@majorclass.fr"><img src="{{ asset('img/home/mail.png') }}" style="height:20px;" /></a>
			 </div>
		</div>
		<br><br>
	</div>
{% endblock %}	