{% extends "::layout-main.html.twig" %}
				
{% block title %}
	Un Tarif clair
{% endblock %}
{% block metadescription %}
	Un tarif clair, une prestation de qualité
{% endblock %}

{% block navbar %}
	<li><a href="{{ path('majordesk_app_presentation_cours') }}">Les Cours</a></li>
	<li><a href="{{ path('majordesk_app_presentation_plateforme') }}" rel="nofollow">Démarche Simplifiée</a></li>
	<li class="active"><a href="{{ path('majordesk_app_presentation_tarifs') }}"> Le Tarif</a></li>
	<li><a href="{{ path('majordesk_app_presentation_equipe') }}">Contact</a></li>
	{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li><a href="{{ path('majordesk_app_index') }}" rel="nofollow">Se connecter <i class="icon-off"></i></a></li>{% endif %}
{% endblock %}

{% block body %}
	<section id="home-banner-0">
		<div class="container home-container">
			<h1 class="text-center" style="font-size:35px">
				Notre tarif
			</h1>
		</div>
		<br>
	</section>
	<section class="container home-container">
		<br><br>
		<div class="col-lg-12">
			<strong class="font-majorclass">Majorclass</strong> est un organisme de soutien scolaire agréé (SAP789493467). Conformément à l'article 199 sexdecies du Code Général des Impôts, vous avez droit à <strong>une réduction (ou à un crédit) d'impôts</strong> à hauteur de 50% des dépenses engagées. 
			Nous vous rappelons qu'il n'y a <strong>aucun frais d'inscription</strong>.
		</div>
		<br><br>
		<div class="col-lg-4">
			<h2 class="font-size-26 font-responsive-20">Frais d'inscription</h2>
		</div>
		<div class="col-lg-8 text-center">
			<span class="font-size-50">0€</span>
		</div>
		<div class="clearfix"></div>
		<br>
		<div class="col-lg-4">
			<h2 class="font-size-26 font-responsive-20">Prix de l'heure</h2>
		</div>
		<div class="col-lg-8 text-center">
			<span class="font-size-28">59,90€</span> <i class="icon-tag icon-2x text-orange position-relative-down-12"></i>
		</div>
		<div class="clearfix"></div>
		<br><br>
		<div class="col-lg-4">
			<h2 class="font-size-26 font-responsive-20">Prix de l'heure après impôts<span class="text-pomegranate">*</span></h2>
			<small class="text-pomegranate">* Nous vous aidons le moment venu à remplir la bonne case de votre déclaration d'impôts.</small>
		</div>
		<div class="col-lg-8 text-center">
			<span class="font-size-50">29,95€</span> <i class="icon-tag icon-3x text-emerald position-relative-down-12"></i> 
		</div>
		<div class="clearfix"></div>
		<br><br>
		<div class="col-lg-4">
			<h2 class="font-size-26 font-responsive-20">Moyen de paiement</h2>
		</div>
		<div class="col-lg-8">
			<br>Notre site met à votre disposition un <strong>module de "paiements facilités"</strong> entièrement sécurisé par <strong>BNP Paribas</strong>. Les paiements s'effectuent par prélèvement sur la carte dont vous aurez enregistré les coordonnées via ce module. Pour plus d'informations, consultez <a href="{{ path('majordesk_app_faq') }}">Pourquoi imposer ce moyen de paiement ?</a>
		</div>
		<div class="clearfix"></div>
		<br><br><br><br>
	</section>
{% endblock %}	