<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>{% block title %}Majorclass - Cours particuliers de qualité{% endblock %}</title>
	
	<link rel="icon" type="image/png" href="{{ asset('img/home/favicon.png') }}" />
	
	{% block stylesheets %}
		{% stylesheets filter='yui_css' output='css/*'   
			'../app/Resources/css/common/bootstrap.min.css' 
			'../app/Resources/css/common/bootstrap-calendar.min.css' 
			'../app/Resources/css/common/bootstrap-timepicker.min.css'
			'../app/Resources/css/common/bootstrap-datepicker.min.css'
			'../app/Resources/css/common/majordesk.css' 
			'../app/Resources/css/common/font-awesome.min.css' 
			'../app/Resources/css/common/typeahead.css' 
		%}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
	{% endblock %}
	
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-47288605-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	
</head>
<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
	<div class="container home-container">		
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			  <span class="sr-only">Activer la navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" style="padding:0" href="{{ path('majordesk_app_gate_index') }}"><img src="{{ asset('img/home/bar-logo.png') }}" style="height:50px" /><!--<span class="brand">majorClass</span>--></a>
		</div>

		<nav class="collapse navbar-collapse navbar-responsive-collapse" role="navigation">
			<div class="col-xs-12 col-lg-12">
				<ul class="nav navbar-nav navbar-right">
					{% block navbar %}
					{% endblock %}
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{% if (is_granted('ROLE_ELEVE') or is_granted('ROLE_PROF') or is_granted('ROLE_PARENTS')) and not is_granted('ROLE_ADMIN') %}{{ app.user.mail }}{% else %}Admin{% endif %}
						<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a tabindex="-1" href="{{ path('majordesk_app_profil') }}"><i class="icon-user"></i> Profil</a></li>
							{% if is_granted('ROLE_PARENTS') and not is_granted('ROLE_ADMIN') %}
							<li><a tabindex="-1" href="{{ path('majordesk_app_parametres_compte') }}"><i class="icon-cog"></i> Paramètres</a></li>
							<li><a tabindex="-1" href="{{ path('majordesk_app_presentation_tarifs') }}"><i class="icon-money"></i> Tarif</a></li>
							{% endif %}
							<li class="divider"></li>
							<li><a tabindex="-1" href="{{ path('logout') }}"><i class="icon-signout"></i> Déconnexion</a></li>
						</ul>
					</li>
					{% endif %}
				</ul>			
			</div>
		</nav>	
	</div>
	<div id="home-banner-3"></div>	
</header>
	
<body class="home">

	<!--Facebook-->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<!---Twitter-->
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	<!------------>
	
	<section id="wrapper">
		<section id="home-content" class="height-100">
		{% block body %}
		{% endblock %}
		</section>
		
		{% block footer %}
		<footer>
			<div id="home-banner-3"></div>	
			<div class="no-padding-horizontal-xs">
				<div class="container home-container">
					<section class="col-lg-12 position-relative-down-5">
						<div class="col-lg-6">
							© Majorclass 2014 - 
							<a href="{{ path('majordesk_app_mentions_legales') }}">Mentions légales</a> - 
							<a href="{{ path('majordesk_app_faq') }}">FAQ</a> -
							<a href="{{ path('majordesk_app_inscription_professeur') }}">Inscription Professeur</a> 
						</div>
						<div class="col-lg-6">
							<div class="fb-like" data-href="https://www.facebook.com/MajorclassOfficialPage" data-colorscheme="dark" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>	
						</div>
					</section>
				</div>
				<span class="visible-xs"><br></span>
			</div>
			<div class="clearfix"></div>
		</footer>
		{% endblock %}
	</section>	
	
	{% block javascripts %}
		{% javascripts filter='?yui_js' output='js/13112738.js'  
			'../app/Resources/js/common/jquery.min.js' 
			'../app/Resources/js/common/bootstrap.min.js' 
			'../app/Resources/js/common/bootbox.min.js' 
			'../app/Resources/js/common/tooltip.js' 
			'bundles/fosjsrouting/js/router.js' 
			'../app/Resources/js/common/fos_js_routes.js' 
			'../app/Resources/js/common/majordesk.js'
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endblock %}
</body>
</html>

