{% extends "::layout.html.twig" %}

{% block title %}
	Abonnements et factures - {{ parent() }}
{% endblock %}

{% block navbar %}
	<li><a href="{{ path('majordesk_app_profil') }}" ><i class="icon-angle-right"></i> Profil</a></li>
	<li><a><i class="icon-angle-right"></i> Modifier son mot de passe</a></li>
{% endblock %}

{% block body %}
<span class="visible-md"><br><br></span>
<span class="visible-lg"><br><br></span>
	
	{% for message in app.session.flashbag.get('warning') %}
	<div class="col-lg-12">
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<i class="icon-warning-sign"></i> <strong>Demande rejetée :</strong> {{ message }}
		</div>
	</div>
	{% endfor %}
	<div class="col-lg-12">
		<h3><i class="icon-user icon-large text-yellow"></i> Modifier son mot de passe</h3><br>
	</div>
	<div class="col-md-offset-1 col-lg-4">
		<form class="form-inline" method="post" action="{{ path('majordesk_app_modifier_password') }}">
			Ancien mot de passe :<br>
			{{ form_widget(form.oldpass) }}<br><br>
			Nouveau mot de passe :<br>
			{{ form_widget(form.newpass.pass) }}<br><br>
			Confirmation :<br>
			{{ form_widget(form.newpass.confirm) }}
			<br><br>
			<button type="submit" class="btn btn-success"><i class="icon-ok"></i> Valider</button>
		{{ form_widget(form._token) }}
		</form>
	</div>
	<div class="clearfix"></div><br><br>

{% endblock %}