{% extends "MajordeskAppBundle:Admin:admin.html.twig" %}

{% block title %}
	Ajouter une famille - {{ parent() }}
{% endblock %}

{% block navbar %}
	<li><a href="{{ path("majordesk_app_gestion_familles") }}"><i class="icon-angle-right"></i> Gestion des familles</a></li>
	<li><a><i class="icon-angle-right"></i> Ajouter une famille</a></li>
{% endblock %}
 
{% block admin %}
			<form method="post" action="{{ path('majordesk_app_ajouter_famille') }}">
				<br><br><span class="visible-xs"><br><br></span>
					<div class="col-lg-12">
				<h3>
					<i class="icon-group icon-large text-yellow pull-left"></i> <p class="pull-left">Ajouter une famille</p>
				</h3>
					
				<br><br><br>	
				
				{% if app.session.flashbag.get('warning') %}
				<div class="alert alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Champs incorrects :</strong><br><br>
					{% for field in form %}
						{{ form_errors(field) }}
					{% endfor %}
					{{ form_errors(form.password.pass) }} 
					{{ form_errors(form.password.confirm) }}
				</div>
				{% endif %}
				
				<br>
				<h4>Famille</h4>
				<br>

				<div class="col-lg-12">
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
						  <th class="col-lg-4">Information</th>
						  <th class="col-lg-8">Valeur</th>
						</tr>
					  </thead>
					  <tbody>
						
						<tr>
						  <td>Alerte (heures restantes)</td>
						  <td>{{ form_widget(form.alerte_heures ) }}</td>
						</tr>
						
						<tr>
						  <td>N° Abonné</td>
						  <td>{{ form_widget(form.abonnement ) }}</td>
						</tr>
						
						</tbody>
					</table>
				</div>
				
				<br>
				<h4>Parent(s)</h4>
				<br>
				
				{% for client in form.clients %}	
				<div class="col-lg-12">
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
						  <th class="col-lg-4">Information</th>
						  <th class="col-lg-8">Valeur</th>
						</tr>
					  </thead>
					  <tbody>
						
						<tr>
						  <td>Parenté</td>
						  <td>{{ form_widget(client.gender ) }}</td>
						</tr>
						
						<tr>
						  <td>Prénom</td>
						  <td>{{ form_widget(client.username ) }}</td>
						</tr>
						
						<tr>
						  <td>Nom</td>
						  <td>{{ form_widget(client.nom ) }}</td>
						</tr>
						
						<tr>
						  <td>Téléphone</td>
						  <td>{{ form_widget(client.telephone ) }}</td>
						</tr>
						
						<tr>
						  <td>Adresse</td>
						  <td>{{ form_widget(client.adresse ) }}</td>
						</tr>
						
						<tr>
						  <td>Code postal</td>
						  <td>{{ form_widget(client.code_postal ) }}</td>
						</tr>
						
						<tr>
						  <td>Ville</td>
						  <td>{{ form_widget(client.ville ) }}</td>
						</tr>
						
						<tr>
						  <td>Mail</td>
						  <td>{{ form_widget(client.mail ) }}</td>
						</tr>
						
						<tr>
						  <td>Mot de passe</td>
						  <td>{{ form_widget(client.password ) }}</td>
						</tr>
						
						<tr>
						  <td>Abonné(e) à la newsletter</td>
						  <td>
						  {{ form_widget(client.newsletter ) }}
						  </td>
						</tr>
						
						<tr>
						  <td>Averti(e) par alerte</td>
						  <td>
						  {{ form_widget(client.alertes ) }}
						  </td>
						</tr>
						
						<tr>
						  <td>Horaire de l'alerte</td>
						  <td><span class="bootstrap-timepicker">{{ form_widget(client.heure_alertes ) }}</span></td>
						</tr>
						
						</tbody>
					</table>
				</div>
				{% endfor %}
				
				<span class="parents" data-prototype='
				
					<div class="col-lg-12 remove-parent-div">
						<table class="table table-bordered table-hover">
							<thead>
							<tr>
							  <th class="col-lg-4">Information</th>
							  <th class="col-lg-8">Valeur <button type="button" class="btn btn-danger remove-parent-btn pull-right"><i class="icon-remove"></i></button></th>
							</tr>
						  </thead>
						  <tbody>
							
							<tr>
							  <td>Parenté</td>
							  <td>{{ form_widget(form.clients.vars.prototype.gender)|e }}</td>
							</tr>
							
							<tr>
							  <td>Prénom</td>
							  <td>{{ form_widget(form.clients.vars.prototype.username)|e }}</td>
							</tr>
							
							<tr>
							  <td>Nom</td>
							  <td>{{ form_widget(form.clients.vars.prototype.nom)|e }}</td>
							</tr>
							
							<tr>
							  <td>Téléphone</td>
							  <td>{{ form_widget(form.clients.vars.prototype.telephone)|e }}</td>
							</tr>
							
							<tr>
							  <td>Adresse</td>
							  <td>{{ form_widget(form.clients.vars.prototype.adresse)|e }}</td>
							</tr>
							
							<tr>
							  <td>Code postal</td>
							  <td>{{ form_widget(form.clients.vars.prototype.code_postal)|e }}</td>
							</tr>
							
							<tr>
							  <td>Ville</td>
							  <td>{{ form_widget(form.clients.vars.prototype.ville)|e }}</td>
							</tr>
							
							<tr>
							  <td>Mail</td>
							  <td>{{ form_widget(form.clients.vars.prototype.mail)|e }}</td>
							</tr>
							
							<tr>
							  <td>Mot de passe</td>
							  <td>{{ form_widget(form.clients.vars.prototype.password)|e }}</td>
							</tr>
							
							<tr>
							  <td>Abonné(e) à la newsletter</td>
							  <td>
							  {{ form_widget(form.clients.vars.prototype.newsletter)|e }}
							  </td>
							</tr>
							
							<tr>
							  <td>Averti(e) par alerte</td>
							  <td>
							  {{ form_widget(form.clients.vars.prototype.alertes)|e }}
							  </td>
							</tr>
							
							<tr>
							  <td>Horaire de l alerte</td>
							  <td><span class="bootstrap-timepicker">{{ form_widget(form.clients.vars.prototype.heure_alertes)|e }}</span></td>
							</tr>
							
							</tbody>
						</table>
					</div>
				
				'>
				</span>

				
				<div class="row">
					<div class="col-lg-12">
						<button type="submit" class="btn btn-success pull-right">Valider <i class="icon-ok"></i></button>
					</div>
				</div>
				
			</div>
				
			{{ form_widget(form._token) }}
			</form>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='yui_js' output='js/*'
		'../app/Resources/js/admin/ajouter-famille.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}