{% extends "::layout.html.twig" %}

{% block title %}
	Gestion des heures de cours - {{ parent() }}
{% endblock %}

{% block navbar %}
	<li><a><i class="icon-angle-right"></i> Gestion des heures de cours</a></li>
{% endblock %}

{% block body %}
<span class="visible-md"><br></span>
<span class="visible-lg"><br></span>
{#
{% if is_granted('ROLE_ELEVE') and not is_granted('ROLE_PROF') %}

	{% if not is_granted('ROLE_PARENTS') %}
		{% if professeurs is empty %}
		<div class="col-lg-12">
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<i class="icon-info-sign"></i> <strong>Info :</strong> Aucun professeur ne t'est encore assigné. Nous sommes en train de nous en charger !
			</div>
		</div>
		{% endif %}
	{% else %}
		{% if professeurs is empty %}
		<div class="col-lg-12">
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<i class="icon-info-sign"></i> <strong>Info :</strong> Aucun professeur n'est encore assigné. Nous sommes en train de nous en charger !
			</div>
		</div>
		{% endif %}
	{% endif %}

<div id="annuler-cours" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel"><i class="icon-warning-sign icon-large text-yellow"></i> Confirmation</h3>
		  </div>
		  <div class="modal-body">
			<p>
				Voulez-vous vraiment annuler ce cours ?<br>
				<br>
				<span class="pull-right">
					<a id="annuler-cours-confirm" href="" class="btn btn-success valider-reservation"><i class="icon-ok"></i></a>
					<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
				</span>
				<br>
			</p>
		  </div>
		</div>
	</div>
</div>

{% for professeur in professeurs %}
	<div id="show-dispos-{{ professeur.id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel"><i class="icon-calendar icon-large text-yellow"></i> Disponibilités de {{ professeur.username }}</h3>
			  </div>
			  <div class="modal-body">
				<p>
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Jour</th>
								<th>Horaires</th>
							<tr>
						</thead>
						<tbody>
						{% for disponibilite in professeur.disponibilites %}
							<tr>
								<td><span class="text-green">{{ disponibilite.jour }}</span></td>
								<td>{{ disponibilite.heureDebut }} à {{ disponibilite.heureFin }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<br>
					<span class="pull-right">
						<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Ok</button>
					</span>
					<br>
				</p>
			  </div>
			</div>
		</div>
	</div>
{% endfor %}
	{% for message in app.session.flashbag.get('info') %}
	<div class="col-lg-12">
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<i class="icon-info-sign"></i> <strong>Info :</strong> {{ message }}
		</div>
	</div>
	{% endfor %}
	{% for message in app.session.flashbag.get('warning') %}
	<div class="col-lg-12">
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<i class="icon-warning-sign"></i> <strong>Demande rejetée :</strong> {{ message }}
		</div>
	</div>
	{% endfor %}
{% endif %}

{% if is_granted('ROLE_PROF') %}

<div id="confirmer-cours" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel"><i class="icon-warning-sign icon-large text-yellow"></i> Confirmation</h3>
		  </div>
		  <div class="modal-body">
			<p>
				Seras-tu disponible pour donner ce cours ?<br>
				<br>
				<a id="confirm-cours-prof" href="" class="btn btn-success"><i class="icon-ok"> Disponible</i></a>
				<a id="refuse-cours-prof" href="" class="btn btn-danger"><i class="icon-remove"> Indisponible</i></a>
				<br>
			</p>
		  </div>
		</div>
	</div>
</div>

{% endif %}
#}

<div class="col-lg-9">
	<div id="calendar"></div>
</div>
<div class="col-lg-3">
	<div class="calendar-header">
			<h3></h3>
		<div class="btn-group btn-group-justified">
			<a type="button" class="btn btn-sm btn-primary" data-calendar-nav="prev"><< Préc</a>
			<a type="button" class="btn btn-sm btn-default-inverted" data-calendar-nav="today">Aujourd'hui</a>
			<a type="button" class="btn btn-sm btn-primary" data-calendar-nav="next">Suiv >></a>
		</div>
		<br><br>
		<div class="btn-group btn-group-justified">
			<a type="button" class="btn btn-sm btn-warning" data-calendar-view="year">Année</a>
			<a type="button" class="btn btn-sm btn-warning active" data-calendar-view="month">Mois</a>
			<a type="button" class="btn btn-sm btn-warning" data-calendar-view="week">Semaine</a>
			<a type="button" class="btn btn-sm btn-warning" data-calendar-view="day">Jour</a>
		</div>
	</div>
	<br>
</div>
{#	<h3>Prochain(s) cours</h3>
	<span id="eventlist"></span>
	<br>
{% if is_granted('ROLE_PARENTS') %}
<form class="form-horizontal" method="post" action="{{ path('majordesk_app_calendrier_famille') }}">
{% else %}
<form class="form-horizontal" method="post" action="{{ path('majordesk_app_calendrier_des_cours') }}">
{% endif %}
{% if is_granted('ROLE_ELEVE') and not is_granted('ROLE_PROF') and not is_granted('ROLE_PARENTS') %}
		<h3> Demander un cours</h3>
		<div class="input-group">
			{{ form_widget(form.matiere) }}
			<span class="input-group-addon"><i class="icon-book"></i></span>
		</div>
		<br>
		<div class="form-group">
			<div class="col-lg-2 control-label">le </div>
			<div class="col-lg-10">
				<div class="input-group">
					{{ form_widget(form.dateCours) }}
					<span class="input-group-addon position-relative-down-1"><i class="icon-calendar"></i></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-2 control-label">de </div>
			<div class="col-lg-4">
				<span class="bootstrap-timepicker ">
					{{ form_widget(form.heureDebut) }}
				</span>
			</div>
			<div class="col-lg-2 control-label">à </div>
			<div class="col-lg-4">
				<span class="bootstrap-timepicker">
					{{ form_widget(form.heureFin) }}
				</span>
			</div>
		</div>
		<a id="trigger-reservation-confirm" href="#reserver-cours" role="button" data-toggle="modal" class="btn btn-success btn-sm pull-right"><i class="icon-ok"></i> Valider</a>
		
		<div id="reserver-cours" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel"><i class="icon-warning-sign icon-large text-yellow"></i> Confirmation</h3>
				  </div>
				  <div class="modal-body">
					<p>
						Réserver un Cours de <em id="reservation-matiere"></em> le <strong id="reservation-date-cours"></strong> 
						de <strong id="reservation-heure-debut"></strong>  à <strong id="reservation-heure-fin"></strong> ?<br>
						<br>
						<strong style="color:red">Attention !</strong> Ce cours peut être annulé jusqu'à 5 heures avant cet horaire. Au-delà de ce délai, il sera considéré comme pris.<br><br>
						<span class="pull-right">
							<button type="submit" class="btn btn-success valider-reservation"><i class="icon-ok"></i></button>
							<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
						</span>
						<br>
					</p>
				  </div>
				</div>
			</div>
		</div>
		<br>
	
	<h3>Filtres</h3>
		<div class="checkbox"><label><input type="checkbox" class="hide-mes-cours" checked/> Tes cours</label></div>
		{% for professeur in professeurs %}
			<div class="checkbox"><label><input type="checkbox" data-id-professeur="{{ professeur.id }}" class="hide-cours-prof" checked/> Autres cours de {{ professeur.username }} <a class="text-purple" rel="tooltip" data-title="Disponibilités de {{ professeur.username }}" href="#show-dispos-{{ professeur.id }}" data-toggle="modal"><i class="icon-calendar"></i></a></label></div>
		{% endfor %}
{% elseif is_granted('ROLE_PARENTS') %}
		<h3> Programmer un cours</h3>
	
		{% if eleves|length > 1 %}
			<div class="input-group">
				{{ form_widget(form.eleve) }}
				<span class="input-group-addon"><i class="icon-user"></i></span>
			</div>
			<br>
			<div class="input-group">
				{% if form.matiere is defined %}
					{{ form_widget(form.matiere) }}
				{% else %}
					<select id="matieresselectortype_matiere" name="matieresselectortype[matiere]" required="required" class="form-control"><option disabled="disabled" selected="selected">Sélectionner un enfant</option></select>
				{% endif %}
				<span class="input-group-addon"><i class="icon-book"></i></span>
			</div>
			<br>
			<div class="form-group">
				<div class="col-lg-2 control-label">le </div>
				<div class="col-lg-10">
					<div class="input-group">
						{{ form_widget(form.dateCours) }}
						<span class="input-group-addon position-relative-down-1"><i class="icon-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-2 control-label">de </div>
				<div class="col-lg-4">
					<span class="bootstrap-timepicker ">
						{{ form_widget(form.heureDebut) }}
					</span>
				</div>
				<div class="col-lg-2 control-label">à </div>
				<div class="col-lg-4">
					<span class="bootstrap-timepicker">
						{{ form_widget(form.heureFin) }}
					</span>
				</div>
			</div>
			<a id="trigger-parent-reservation-confirm" href="#reserver-cours" role="button" data-toggle="modal" class="btn btn-success btn-sm pull-right"><i class="icon-ok"></i> Valider</a>
			
			<div id="reserver-cours" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel"><i class="icon-warning-sign icon-large text-yellow"></i> Confirmation</h3>
					  </div>
					  <div class="modal-body">
						<p>
							Réserver un Cours de <em id="reservation-matiere"></em> <!--pour <span id="reservation-enfant"></span> -->le <strong id="reservation-date-cours"></strong> 
							de <strong id="reservation-heure-debut"></strong>  à <strong id="reservation-heure-fin"></strong> ?<br>
							<br>
							<strong style="color:red">Attention !</strong> Ce cours peut être annulé jusqu'à 5 heures avant cet horaire. Au-delà de ce délai, il sera considéré comme pris.<br><br>
							<span class="pull-right">
								<button type="submit" class="btn btn-success valider-reservation"><i class="icon-ok"></i></button>
								<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
							</span>
							<br>
						</p>
					  </div>
					</div>
				</div>
			</div>
			<br>
		{% else %}
			<div class="input-group">
				{{ form_widget(form.matiere) }}
				<span class="input-group-addon"><i class="icon-book"></i></span>
			</div>
			<br>
			<div class="form-group">
				<div class="col-lg-2 control-label">le </div>
				<div class="col-lg-10">
					<div class="input-group">
						{{ form_widget(form.dateCours) }}
						<span class="input-group-addon position-relative-down-1"><i class="icon-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-2 control-label">de </div>
				<div class="col-lg-4">
					<span class="bootstrap-timepicker ">
						{{ form_widget(form.heureDebut) }}
					</span>
				</div>
				<div class="col-lg-2 control-label">à </div>
				<div class="col-lg-4">
					<span class="bootstrap-timepicker">
						{{ form_widget(form.heureFin) }}
					</span>
				</div>
			</div>
			<a id="trigger-reservation-confirm" href="#reserver-cours" role="button" data-toggle="modal" class="btn btn-success btn-sm pull-right"><i class="icon-ok"></i> Valider</a>
			
			<div id="reserver-cours" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel"><i class="icon-warning-sign icon-large text-yellow"></i> Confirmation</h3>
					  </div>
					  <div class="modal-body">
						<p>
							Réserver un Cours de <em id="reservation-matiere"></em> le <strong id="reservation-date-cours"></strong> 
							de <strong id="reservation-heure-debut"></strong>  à <strong id="reservation-heure-fin"></strong> ?<br>
							<br>
							<strong style="color:red">Attention !</strong> Ce cours peut être annulé jusqu'à 5 heures avant cet horaire. Au-delà de ce délai, il sera considéré comme pris.<br><br>
							<span class="pull-right">
								<button type="submit" class="btn btn-success valider-reservation"><i class="icon-ok"></i></button>
								<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
							</span>
							<br>
						</p>
					  </div>
					</div>
				</div>
			</div>
			<br>
		{% endif %}	
	
	<h3>Filtres</h3>
		{% for eleve in eleves %}
			<div class="checkbox"><label><input type="checkbox" class="hide-cours-enfant" data-id-eleve="{{ eleve.id }}" checked/> Cours de {{ eleve.username }}</label></div>
		{% endfor %}
		{% for professeur in professeurs %}
			<div class="checkbox"><label><input type="checkbox" data-id-professeur="{{ professeur.id }}" class="hide-cours-prof" checked/> Autres cours de {{ professeur.username }} <a class="text-purple" rel="tooltip" data-title="Disponibilités de {{ professeur.username }}" href="#show-dispos-{{ professeur.id }}" data-toggle="modal"><i class="icon-calendar"></i></a></label></div>
		{% endfor %}
{% endif %}
</div>
{% if is_granted('ROLE_ELEVE') and not is_granted('ROLE_PROF') %}
	{{ form_widget(form._token) }}
</form>
{% endif %}
<br>
#}

<div class="clearfix"></div>
<br><br><br><br>

<div class="col-lg-12">
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Date</th>
					<th>Début</th>
					<th>Fin</th>
					<th>Durée</th>
					<th>Matière</th>
					<th>Professeur</th>
					<th>Elève</th>
					<th>Montant</th>
					<th>Statut</th>
					<th>Réglé</th>
				</tr>
			</thead>
			<tbody>
				{% for ticket in tickets %}
					{% for paiement in paiements if paiement.ticket is not null and paiement.ticket.id == ticket.id %}
						{% for cal_event in cal_events if cal_event.id == ticket.calEvent.id %}
							<tr>
								<td>{{ cal_event.getDateCours|date("d/m/y") }}</td>
								<td>{{ cal_event.getHeureDebut }}</td>
								<td>{{ cal_event.getHeureFin }}</td>
								<td>
									{% if ticket.quantite == 10 %}
										1h
									{% elseif ticket.quantite == 15 %}
										1h30
									{% elseif ticket.quantite == 20 %}
										2h
									{% elseif ticket.quantite == 25 %}
										2h30
									{% elseif ticket.quantite == 30 %}
										3h
									{% elseif ticket.quantite == 40 %}
										4h
									{% elseif ticket.quantite == 50 %}
										5h
									{% endif %}
								</td>
								<td>
									{% if cal_event.matiere.nom == matiere_mathematiques %}
										<span class="label label-info">{{ matiere_mathematiques }}</span>
									{% elseif cal_event.matiere.nom == matiere_physique %}
										<span class="label label-success">{{ matiere_physique }}</span>
									{% elseif cal_event.matiere.nom == matiere_biologie %}
										<span class="label label-warning">{{ matiere_biologie }}</span>
									{% elseif cal_event.matiere.nom == matiere_anglais %}
										<span class="label label-important">{{ matiere_anglais }}</span>
									{% elseif cal_event.matiere.nom == matiere_francais %}
										<span class="label label-default">{{ matiere_francais }}</span>
									{% elseif cal_event.matiere.nom == matiere_histoire %}
										<span class="label">{{ matiere_histoire }}</span>
									{% else %}
										n.c.
									{% endif %}
								</td>
								<td>{{ ticket.professeur.username }} {{ ticket.professeur.nom  }}</td>
								<td>{{ ticket.eleve.username }} {{ ticket.eleve.nom }}</td>
								<td>
									{% if ticket.quantite == 10 %}
										25,00 €
									{% elseif ticket.quantite == 15 %}
										37,50 €
									{% elseif ticket.quantite == 20 %}
										50,00 €
									{% elseif ticket.quantite == 25 %}
										62,50 €
									{% elseif ticket.quantite == 30 %}
										75,00 €
									{% elseif ticket.quantite == 40 %}
										100,00 €
									{% elseif ticket.quantite == 50 %}
										125,00 €
									{% endif %}
								</td>
								<td>
									{% if paiement.transaction == 0 %}
										<i rel="tooltip" data-title="Annulé" class="icon-remove text-red icon-large cursor-help"></i>
									{% elseif paiement.transaction == 1 %}
										<i rel="tooltip" data-title="Paiement par la famille en cours" class="icon-spin icon-spinner icon-large text-orange cursor-help"></i>
									{% elseif paiement.transaction == 2 %}
										<i rel="tooltip" data-title="Payé par la famille" class="icon-ok icon-large text-green cursor-help"></i>
									{% else %}
										<i rel="tooltip" data-title="Statut inconnu" class="icon-question-sign icon-large text-grey cursor-help"></i>
									{% endif %}
								</td>
								<td>
									<em>Non <i rel="tooltip" data-title="Règlement en fin de mois" class="icon-info-sign cursor-help text-grey"></i></em>
								</td>
							</tr>
						{% else %}
							<tr>
								<td>n.c.</td>
								<td>n.c.</td>
								<td>n.c.</td>
								<td>
									{% if ticket.quantite == 10 %}
										1h
									{% elseif ticket.quantite == 15 %}
										1h30
									{% elseif ticket.quantite == 20 %}
										2h
									{% elseif ticket.quantite == 25 %}
										2h30
									{% elseif ticket.quantite == 30 %}
										3h
									{% elseif ticket.quantite == 40 %}
										4h
									{% elseif ticket.quantite == 50 %}
										5h
									{% endif %}
								</td>
								<td>
									n.c.
								</td>
								<td>{{ ticket.eleve.username }}</td>
								<td>
									{% if ticket.quantite == 10 %}
										25,00 €
									{% elseif ticket.quantite == 15 %}
										37,50 €
									{% elseif ticket.quantite == 20 %}
										50,00 €
									{% elseif ticket.quantite == 25 %}
										62,50 €
									{% elseif ticket.quantite == 30 %}
										75,00 €
									{% elseif ticket.quantite == 40 %}
										100,00 €
									{% elseif ticket.quantite == 50 %}
										125,00 €
									{% endif %}
								</td>
								<td>
									{% if paiement.transaction == 0 %}
										<i rel="tooltip" data-title="Annulé" class="icon-remove text-red cursor-help"></i>
									{% elseif paiement.transaction == 1 %}
										<i rel="tooltip" data-title="En cours" class="icon-spin icon-spinner text-orange cursor-help"></i>
									{% elseif paiement.transaction == 2 %}
										<i rel="tooltip" data-title="Validé" class="icon-ok text-green cursor-help"></i>
									{% else %}
										<i rel="tooltip" data-title="Validé" class="icon-ok text-green cursor-help"></i>
									{% endif %}
								</td>
								<td>
									{% if ticket.regle %}
										<em>Oui</em>
									{% elseif ticket.regle == false and ticket.statut == 0 %}
										<em>Non</em>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='yui_js' output='js/*'
		'../app/Resources/js/common/underscore.min.js' 
		'../app/Resources/js/common/bootstrap-calendar.min.js'   
		'../app/Resources/js/locales/bootstrap-calendar.fr.js' 
		'../app/Resources/js/common/bootstrap-calendar-config.js'
		'../app/Resources/js/common/bootstrap-timepicker.min.js'
		'../app/Resources/js/common/bootstrap-datepicker.min.js'
		'../app/Resources/js/locales/bootstrap-datepicker.fr.js' 
		'../app/Resources/js/common/calendrier.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}