{% extends "::layout.html.twig" %}

{% block title %}
	Gestion des heures de cours - {{ parent() }}
{% endblock %}

{% block navbar %}
	<li><a><i class="icon-angle-right"></i> Gestion des heures de cours</a></li>
{% endblock %}

{% block body %}
<br><br><br><span class="visible-xs"><br></span>

<div class="col-lg-12">
	<h3>Historique des heures</h3><br>
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Date ticket</th>
					<th>Date cours</th>
					<th>Durée</th>
					<th>Professeur</th>
					<th>Elève</th>
					<th>Montant</th>
					<th>Statut</th>
					<!--<th>Réglé</th>-->
				</tr>
			</thead>
			<tbody>
				{% for ticket in tickets %}
					{% for paiement in paiements if paiement.ticket is not null and paiement.ticket.id == ticket.id %}
							<tr>
								<td>
									{{ ticket.dateTicket|date("d/m/y H:m:s") }}
								</td>
								<td>
									{{ ticket.dateCours|date("d/m/y") }}
								</td>
								<td>
									{% if ticket.quantite == 10 %}
										1h
									{% elseif ticket.quantite == 15 %}
										1h30
									{% elseif ticket.quantite == 20 %}
										2h
									{% elseif ticket.quantite == 25 %}
										2h30
									{% elseif ticket.quantite == 30 %}
										3h
									{% elseif ticket.quantite == 40 %}
										4h
									{% elseif ticket.quantite == 50 %}
										5h
									{% endif %}
								</td>
								<td>{{ ticket.professeur.username }} {{ ticket.professeur.nom  }}</td>
								<td>{{ ticket.eleve.username }} {{ ticket.eleve.nom }}</td>
								<td>
									{% if ticket.quantite == 10 %}
										25,00 €
									{% elseif ticket.quantite == 15 %}
										37,50 €
									{% elseif ticket.quantite == 20 %}
										50,00 €
									{% elseif ticket.quantite == 25 %}
										62,50 €
									{% elseif ticket.quantite == 30 %}
										75,00 €
									{% elseif ticket.quantite == 40 %}
										100,00 €
									{% elseif ticket.quantite == 50 %}
										125,00 €
									{% endif %}
								</td>
								<td>
									{% if paiement.transaction == 0 %}
										<i rel="tooltip" data-title="Annulé" class="icon-remove text-red icon-large cursor-help"></i>
									{% elseif paiement.transaction == 1 %}
										<i rel="tooltip" data-title="Paiement par la famille en cours" class="icon-spin icon-spinner icon-large text-orange cursor-help"></i>
									{% elseif paiement.transaction == 2 %}
										<i rel="tooltip" data-title="Payé par la famille" class="icon-ok icon-large text-green cursor-help"></i>
									{% else %}
										<i rel="tooltip" data-title="Statut inconnu" class="icon-question-sign icon-large text-grey cursor-help"></i>
									{% endif %}
								</td>
								<!--<td>
									<em>Non <i rel="tooltip" data-title="Règlement en fin de mois" class="icon-info-sign cursor-help text-grey"></i></em>
								</td>-->
							</tr>
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>

{#
<div class="col-lg-12">
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Date</th>
					<th>Début</th>
					<th>Fin</th>
					<th>Durée</th>
					<th>Matière</th>
					<th>Professeur</th>
					<th>Elève</th>
					<th>Montant</th>
					<th>Statut</th>
					<th>Réglé</th>
				</tr>
			</thead>
			<tbody>
				{% for ticket in tickets %}
					{% for paiement in paiements if paiement.ticket is not null and paiement.ticket.id == ticket.id %}
						{% for cal_event in cal_events if cal_event.id == ticket.calEvent.id %}
							<tr>
								<td>{{ cal_event.getDateCours|date("d/m/y") }}</td>
								<td>{{ cal_event.getHeureDebut }}</td>
								<td>{{ cal_event.getHeureFin }}</td>
								<td>
									{% if ticket.quantite == 10 %}
										1h
									{% elseif ticket.quantite == 15 %}
										1h30
									{% elseif ticket.quantite == 20 %}
										2h
									{% elseif ticket.quantite == 25 %}
										2h30
									{% elseif ticket.quantite == 30 %}
										3h
									{% elseif ticket.quantite == 40 %}
										4h
									{% elseif ticket.quantite == 50 %}
										5h
									{% endif %}
								</td>
								<td>
									{% if cal_event.matiere.nom == matiere_mathematiques %}
										<span class="label label-info">{{ matiere_mathematiques }}</span>
									{% elseif cal_event.matiere.nom == matiere_physique %}
										<span class="label label-success">{{ matiere_physique }}</span>
									{% elseif cal_event.matiere.nom == matiere_biologie %}
										<span class="label label-warning">{{ matiere_biologie }}</span>
									{% elseif cal_event.matiere.nom == matiere_anglais %}
										<span class="label label-important">{{ matiere_anglais }}</span>
									{% elseif cal_event.matiere.nom == matiere_francais %}
										<span class="label label-default">{{ matiere_francais }}</span>
									{% elseif cal_event.matiere.nom == matiere_histoire %}
										<span class="label">{{ matiere_histoire }}</span>
									{% else %}
										n.c.
									{% endif %}
								</td>
								<td>{{ ticket.professeur.username }} {{ ticket.professeur.nom  }}</td>
								<td>{{ ticket.eleve.username }} {{ ticket.eleve.nom }}</td>
								<td>
									{% if ticket.quantite == 10 %}
										25,00 €
									{% elseif ticket.quantite == 15 %}
										37,50 €
									{% elseif ticket.quantite == 20 %}
										50,00 €
									{% elseif ticket.quantite == 25 %}
										62,50 €
									{% elseif ticket.quantite == 30 %}
										75,00 €
									{% elseif ticket.quantite == 40 %}
										100,00 €
									{% elseif ticket.quantite == 50 %}
										125,00 €
									{% endif %}
								</td>
								<td>
									{% if paiement.transaction == 0 %}
										<i rel="tooltip" data-title="Annulé" class="icon-remove text-red icon-large cursor-help"></i>
									{% elseif paiement.transaction == 1 %}
										<i rel="tooltip" data-title="Paiement par la famille en cours" class="icon-spin icon-spinner icon-large text-orange cursor-help"></i>
									{% elseif paiement.transaction == 2 %}
										<i rel="tooltip" data-title="Payé par la famille" class="icon-ok icon-large text-green cursor-help"></i>
									{% else %}
										<i rel="tooltip" data-title="Statut inconnu" class="icon-question-sign icon-large text-grey cursor-help"></i>
									{% endif %}
								</td>
								<td>
									<em>Non <i rel="tooltip" data-title="Règlement en fin de mois" class="icon-info-sign cursor-help text-grey"></i></em>
								</td>
							</tr>
						{% else %}
							<tr>
								<td>n.c.</td>
								<td>n.c.</td>
								<td>n.c.</td>
								<td>
									{% if ticket.quantite == 10 %}
										1h
									{% elseif ticket.quantite == 15 %}
										1h30
									{% elseif ticket.quantite == 20 %}
										2h
									{% elseif ticket.quantite == 25 %}
										2h30
									{% elseif ticket.quantite == 30 %}
										3h
									{% elseif ticket.quantite == 40 %}
										4h
									{% elseif ticket.quantite == 50 %}
										5h
									{% endif %}
								</td>
								<td>
									n.c.
								</td>
								<td>{{ ticket.eleve.username }}</td>
								<td>
									{% if ticket.quantite == 10 %}
										25,00 €
									{% elseif ticket.quantite == 15 %}
										37,50 €
									{% elseif ticket.quantite == 20 %}
										50,00 €
									{% elseif ticket.quantite == 25 %}
										62,50 €
									{% elseif ticket.quantite == 30 %}
										75,00 €
									{% elseif ticket.quantite == 40 %}
										100,00 €
									{% elseif ticket.quantite == 50 %}
										125,00 €
									{% endif %}
								</td>
								<td>
									{% if paiement.transaction == 0 %}
										<i rel="tooltip" data-title="Annulé" class="icon-remove text-red cursor-help"></i>
									{% elseif paiement.transaction == 1 %}
										<i rel="tooltip" data-title="En cours" class="icon-spin icon-spinner text-orange cursor-help"></i>
									{% elseif paiement.transaction == 2 %}
										<i rel="tooltip" data-title="Validé" class="icon-ok text-green cursor-help"></i>
									{% else %}
										<i rel="tooltip" data-title="Validé" class="icon-ok text-green cursor-help"></i>
									{% endif %}
								</td>
								<td>
									{% if ticket.regle %}
										<em>Oui</em>
									{% elseif ticket.regle == false and ticket.statut == 0 %}
										<em>Non</em>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>
#}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='yui_js' output='js/*'
		'../app/Resources/js/common/underscore.min.js' 
		'../app/Resources/js/common/bootstrap-calendar.min.js'   
		'../app/Resources/js/locales/bootstrap-calendar.fr.js' 
		'../app/Resources/js/common/bootstrap-calendar-config.js'
		'../app/Resources/js/common/bootstrap-timepicker.min.js'
		'../app/Resources/js/common/bootstrap-datepicker.min.js'
		'../app/Resources/js/locales/bootstrap-datepicker.fr.js' 
		'../app/Resources/js/common/calendrier.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}