{% extends "::layout.html.twig" %}

{% block title %}
	Gestion des documents - {{ parent() }}
{% endblock %}

{% block navbar %}
	<li><a><i class="icon-angle-right"></i> Gestion des documents</a></li>
{% endblock %}

{% block body %}
<br><br><span class="visible-xs"><br><br></span>

	<div class="col-lg-12">
	
		{% for message in app.session.flashbag.get('warning') %}
		<br><br>
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
		{% endfor %}
	
		<h3>Gestion des documents</h3><br>
		{% if professeurs|length > 0 %}
		<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Prénom Nom</th>
						<th>Carte Identité</th>
						<th>Carte Etudiant</th>
						<th>Casier</th>
						<th>Contrat</th>
						<th>RIB</th>
						<th>N° Sécurité Sociale</th>
					</tr>
				</thead>
				<tbody>
				{% for professeur in professeurs %}
					<tr>
						<td>{{ professeur.username ~ ' ' ~ professeur.nom }}</td>					
						<td>{% if professeur.hasCarteIdentite %}<a href="{{ path('majordesk_app_view_document', {'type': 1, 'id_document' : professeur.carteIdentite.id}) }}"><i class="icon-file"></i></a> ({{ professeur.carteIdentite.dateEnregistrement|date('d/m/Y') }}){% endif %}</td>
						<td>{% if professeur.hasCarteEtudiant %}<a href="{{ path('majordesk_app_view_document', {'type': 2, 'id_document' : professeur.carteEtudiant.id}) }}"><i class="icon-file"></i></a> ({{ professeur.carteEtudiant.dateEnregistrement|date('d/m/Y') }}){% endif %}</td>
						<td>{% if professeur.hasCasier %}<a href="{{ path('majordesk_app_view_document', {'type': 3, 'id_document' : professeur.casier.id}) }}"><i class="icon-file"></i></a> ({{ professeur.casier.dateEnregistrement|date('d/m/Y') }}){% endif %}</td>
						<td>{% if professeur.hasContrat %}<a href="{{ path('majordesk_app_view_document', {'type': 4, 'id_document' : professeur.contrat.id}) }}"><i class="icon-file"></i></a> ({{ professeur.contrat.dateEnregistrement|date('d/m/Y') }}){% endif %}</td>
						<td>{% if professeur.hasRib %}<i class="icon-ok text-emerald"></i>{% endif %}</td>
						<td>{% if professeur.hasSecuriteSociale %}<i class="icon-ok text-emerald"></i>{% endif %}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
			Aucun professeur à ce jour.
		{% endif %}
	</div>
	<div class="clearfix"></div><br><br>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}