<html>
<header>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<style>
		td, th {
			padding: 8px;
			line-height: 1.428571429;
			vertical-align: top;
			border: 1px solid black;
		}
		table {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
		}
	</style>
</header>
<body style="padding:40px;">
	<div style="margin-left:auto;margin-right:auto;height:70px;width:416px;"> <img style="height:70px;width:416px;" src="C:/wamp/www/Symfony/web/img/home/logo.png" /> </div>
	<br><br><br>
	Majorclass<br>
	2 place des Reflets<br>
	92400 Courbevoie<br>
	Tel: +33 (0)6 63 15 24 17
	<br><br><br>
	Facture n° {{ id }}
	<br><br>
	Service de soutien scolaire à dommicile
	<br><br>
	<div style="float:right">
		A l'attention de :<br>
		{{ gender }} {{ nom }}
	</div>
	<br><br><br><br><br>
	<table>
		<tr>
			<th>Désignation</th>
			<th>Quantité</th>
			<th>Prix unitaire HT</th>
			<th>Total</th>
		</tr>
	{% set total = 0 %}
	{% for achat in achats %}
		<tr>
			<td>{{ achat.designation }}</td>
			<td style="text-align:right;">{{ achat.quantite }}</td>
			<td style="text-align:center;">{{ (achat.puht / 100)|number_format(2, ',', ' ') }} €</td> 
			<td style="text-align:right;">{{ (achat.quantite * achat.puht / 100)|number_format(2, ',', ' ') }} €</td>		
		</tr>
		{% set total = total + achat.quantite * achat.puht %}
	{% endfor %}
		<tr style="height:12px;">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Total HT</td>
			<td></td>
			<td></td>
			<td style="text-align:right;">{{ (total / 100)|number_format(2, ',', ' ') }} €</td>
		</tr>
		<tr>
			<td>TVA 7%</td>
			<td></td>
			<td style="text-align:center;">TVA non applicable : <br>Article 293 B du CGI</td>
			<td style="text-align:right;">0,00 €</td>
		</tr>
		<tr>
			<td>Total TTC</td>
			<td></td>
			<td></td>
			<td style="text-align:right;">{{ (total / 100)|number_format(2, ',', ' ') }} €</td>
		</tr>
	</table>
	<br><br>
	Date du règlement : {{ date }}
	<br><br>
	Réglé via Mercanet (module de paiement en ligne)
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br>
	<div style="text-align:center;">
		MAJORCLASS<br>
		Siège social : 2 Place des Reflets - Courbevoie 92400 - France<br>
		SARL au capital de 1 000€ - RCS Nanterre 789 493 467 - NAF 8559B <br>
		Tel: +33 (0)6 63 15 24 17
	</div>
</body>
