{% extends "MajordeskAppBundle:Admin:admin.html.twig" %}

{% block title %}
	Gestion des professeurs - {{ parent() }}
{% endblock %}

{% block navbar %}
	<li><a><i class="icon-angle-right"></i> Gestion des professeurs</a></li>
{% endblock %}
 
{% block admin %}
	<br><br><span class="visible-xs"><br><br></span>
	<div class="col-lg-12">
				<h3><i class="icon-user-md icon-large text-red"></i> Carte des inscrits</h3><br>
				
				<div class="col-lg-3">
					Nombre de professeurs : <strong>{{ professeurs|length }}</strong><br>
					Nombre de familles : <strong>{{ clients|length }}</strong>
				</div>
				<div class="col-lg-8">
					<img src="{{ asset('img/admin/markers/pink-marker.png') }}" /> : Famille<br>
					<img src="{{ asset('img/admin/markers/green-marker.png') }}" /> : Professeur (semaine)<br>
					<img src="{{ asset('img/admin/markers/blue-marker.png') }}" /> : Professeur (week-end)<br>
				</div>
				<div class="clearfix"></div>
				<br><br>
				<div id="map-canvas" style="height:1000px;" ></div>
				<br><br>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}	
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAWFFKStzuRNCw21_MD1ZTM-LsLfgdIn0&sensor=false">
    </script>
    <script type="text/javascript">
		var profs = JSON.parse('{{ profs|raw }}');
		var parents = JSON.parse('{{ parents|raw }}');
	    
	    var geocoder;
        var map;
		var markPlaced = 0;
		var icon_prof = 'http://www.majorclass.fr/img/admin/markers/green-marker.png';
		var icon_prof_we = 'http://www.majorclass.fr/img/admin/markers/blue-marker.png';
		var icon_parent = 'http://www.majorclass.fr/img/admin/markers/pink-marker.png';
		
		function findGeocodeProf(adresse, nom, id) {
			geocoder.geocode( { 'address': adresse}, function(results, status) {						
				if (status == google.maps.GeocoderStatus.OK) {
					console.log('geocode query returned : lat/long = '+results[0].geometry.location);
					//map.setCenter(results[0].geometry.location);
					var marker = new google.maps.Marker({
					  map: map,
					  position: results[0].geometry.location,
					  title: nom+' ('+id+')',
					  icon: icon_prof
					});
					markPlaced++;
					console.log('Marqueur n°'+markPlaced+' placé (prof #'+id+')!');
					// On ajoute le géocode trouvé à la base de données
					addGeocodeToProf(results[0].geometry.location, id);
				} else {
				  markPlaced++;
			      console.log('Le marqueur n°'+markPlaced+' n\'a pas été placé (prof #'+id+', statut: ' + status + ').');
				}	
			});	
		}
		
		function  addGeocodeToProf(location, id){
			console.log("On ajoute le géocode trouvé pour le prof d'id "+id);
			$.ajax({
				type: "POST",
				data: { 'geocode' : JSON.stringify(location) },
				url: Routing.generate("majordesk_app_add_geocode_to_prof", {'id_professeur' : id}),
				success: function() {	
					console.log('Le géocode a bien été ajouté.');
				},
				error: function() {
					console.log('Le géocode n\'a pas été ajouté.');
				}
			});
		}
		
		function findGeocodeWeProf(adresse, nom, id) {
			geocoder.geocode( { 'address': adresse}, function(results, status) {						
				if (status == google.maps.GeocoderStatus.OK) {
					console.log('geocode query returned : lat/long = '+results[0].geometry.location);
					//map.setCenter(results[0].geometry.location);
					var marker = new google.maps.Marker({
					  map: map,
					  position: results[0].geometry.location,
					  title: nom+' ('+id+')',
					  icon: icon_prof
					});
					markPlaced++;
					console.log('Marqueur We n°'+markPlaced+' placé (prof #'+id+')!');
					// On ajoute le géocode trouvé à la base de données
					addGeocodeWeToProf(results[0].geometry.location, id);
				} else {
				  markPlaced++;
			      console.log('Le marqueur we n°'+markPlaced+' n\'a pas été placé (prof #'+id+', statut: ' + status + ').');
				}	
			});	
		}
		
		function  addGeocodeWeToProf(location, id){
			console.log("On ajoute le géocode we trouvé pour le prof d'id "+id);
			$.ajax({
				type: "POST",
				data: { 'geocodeWe' : JSON.stringify(location) },
				url: Routing.generate("majordesk_app_add_geocode_we_to_prof", {'id_professeur' : id}),
				success: function() {	
					console.log('Le géocode a bien été ajouté.');
				},
				error: function() {
					console.log('Le géocode n\'a pas été ajouté.');
				}
			});
		}
		
		function findGeocodeParent(adresse, nom, id) {
			geocoder.geocode( { 'address': adresse}, function(results, status) {						
				if (status == google.maps.GeocoderStatus.OK) {
					console.log('geocode query returned : lat/long = '+results[0].geometry.location);
					// On place le marqueur
					var marker = new google.maps.Marker({
					  map: map,
					  position: results[0].geometry.location,
					  title: nom+' ('+id+')',
					  icon: icon_parent
					});
					markPlaced++;
					console.log('Marqueur n°'+markPlaced+' placé (parent #'+id+')!');
					// On ajoute le géocode trouvé à la base de données
					addGeocodeToParent(results[0].geometry.location, id);
				} else {
				  markPlaced++;
			      console.log('Le marqueur n°'+markPlaced+' n\'a pas été placé (parent #'+id+', statut: ' + status + ').');
				}	
			});	
		}
		
		function  addGeocodeToParent(location, id){
			console.log("On ajoute le géocode trouvé pour le parent d'id "+id);
			$.ajax({
				type: "POST",
				data: { 'geocode' : JSON.stringify(location) },
				url: Routing.generate("majordesk_app_add_geocode_to_parent", {'id_parent' : id}),
				success: function() {	
					console.log('Le géocode a bien été ajouté.');
				},
				error: function() {
					console.log('Le géocode n\'a pas été ajouté.');
				}
			});
		}
		
        function initialize() {
				var mapOptions = {
				  center: new google.maps.LatLng(48.853607, 2.343455),
				  zoom: 12
				};
			map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
			geocoder = new google.maps.Geocoder();
			
			for( i=0; i<Object.keys(profs).length; i++ ) {
				if (profs[i]['hasGeocode'] === 1) {
					  var latlong = profs[i]['geocode'].split(", ");
					  var lat = latlong[0];
					  var lng = latlong[1];
					  var marker = new google.maps.Marker({
						  map: map,
						  position: new google.maps.LatLng(lat, lng),
						  title: profs[i]['nom']+' ('+profs[i]['id']+')',
					      icon: icon_prof
					  });
					  markPlaced++;
					  console.log('Marqueur connu n°'+markPlaced+' placé (prof #'+profs[i]['id']+')!');
				} else {
					findGeocodeProf(profs[i]['adresse'], profs[i]['nom'], profs[i]['id']);
				}
					
				if (profs[i]['hasAdresseWe'] === 1) {	
					console.log('Ce professeur a une adresse we.');
					if (profs[i]['hasGeocodeWe'] === 1) {
						  var latlong = profs[i]['geocodeWe'].split(", ");
							var lat = latlong[0];
							var lng = latlong[1];
						  var marker = new google.maps.Marker({
							  map: map,
							  position: new google.maps.LatLng(lat, lng),
							  title: profs[i]['nom']+' ('+profs[i]['id']+')',
					          icon: icon_prof_we
						  });
						  markPlaced++;
					      console.log('Marqueur We connu n°'+markPlaced+' placé (prof #'+profs[i]['id']+')!');
					} else {
						findGeocodeWeProf(profs[i]['adresse'], profs[i]['nom'], profs[i]['id']);
					}
				}
			  
			}
			
			for( var i=0; i<Object.keys(parents).length; i++ ) {
				if (parents[i]['hasGeocode'] === 1) {
					  var latlong = parents[i]['geocode'].split(", ");
					  var lat = latlong[0];
					  var lng = latlong[1];
					  var marker = new google.maps.Marker({
						  map: map,
						  position: new google.maps.LatLng(lat, lng),
						  title: parents[i]['nom']+' ('+parents[i]['id']+')',
					      icon: icon_parent
					  });
					  markPlaced++;
					  console.log('Marqueur connu n°'+markPlaced+' placé (parent #'+parents[i]['id']+')!');
				} else {
					findGeocodeParent(parents[i]['adresse'], parents[i]['nom'], parents[i]['id']);
				}
			}
		  }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}