{% extends "::layout.html.twig" %}

{% block title %}
	Paiements et factures - {{ parent() }}
{% endblock %}

{% block navbar %}
	<li><a><i class="icon-angle-right"></i> Paiements et factures</a></li>
{% endblock %}

{% block body %}
<span class="visible-md"><br><br></span>
<span class="visible-lg"><br><br></span>

	
	<div id="passer-carte" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel"><i class="icon-time icon-large text-blue"></i> Passer "à la carte"</h3>
			  </div>
			  <div class="modal-body">
				<p>
					Vous êtes sur point de passer "à la carte".<br><br>
					Ce qui changera pour vous :
					<ul>
						<li>vous n'aurez plus à vous soucier de racheter des heures de cours ;</li>
						<li>les heures vous seront débitées automatiquement au fur et à mesure que votre enfant en dispose ; </li>
					</ul>
					<small>N.B: S'il vous reste des heures non consommées, elles seront utilisées en priorité</small>
					<br><br>
					<span class="pull-right">
						<a href="{{ path('majordesk_app_passer_carte') }}" class="btn btn-primary"><i class="icon-ok"></i> Passer à la carte</a>
						<button class="btn btn-default" data-dismiss="modal" aria-hidden="true"> Annuler</button>
					</span>
					<br>
				</p>
			  </div>
			</div>
		</div>
	</div>
	
	{% for flashMessage in app.session.flashbag.get('info') %}
		<div class="container">
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ flashMessage|raw }}
			</div>
		</div>
	{% endfor %}

	<div class="col-lg-12">
		<h3>Heures de cours</h3><br>
	</div>
	<div class="col-lg-4">
		Nombre d'heures de cours restantes : <strong> {{ famille.heuresRestantes / 10 }}h</strong><br><br>
		Nombre total d'heures de cours prises : <strong> {{ famille.heuresPrises / 10 }}h</strong><br><br>
	</div>
	<div class="col-lg-4">
		<a href="{{ path('majordesk_app_details_heures') }}" class="btn btn-success-inverted btn-block" ><i class="icon-time icon-4x"></i> <span class="position-relative-up-12">Voir l'historique des heures prises</span></a>
	</div>
	<div class="col-lg-4">
		<a class="btn btn-info-inverted btn-block" href="#"><i class="icon-credit-card icon-4x"></i> <span class="position-relative-up-12">Modifier vos informations bancaires</span></a>
	</div>
	<div class="clearfix"></div><br>
	<div class="col-lg-12">
		<h3>Historique des paiements</h3><br>
		{% if paiements|length > 0 %}
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Date du paiement</th>
						<th>Description</th>
						<th>Montant</th>
						<th>Statut</th>
					</tr>
				</thead>
				<tbody>
				{% for paiement in paiements %}
					<tr>
						<td>{{ paiement.datePaiement|date('d/m/Y') }}</td>
						<td>
							{{ paiement.description|raw }}
						</td>
						<td>
							{% if paiement.pack >= 100 and paiement.pack < 200 %}
								<em>Décompte
								{% if paiement.pack == 110 %}
									1h
								{% elseif paiement.pack == 115 %}
									1h30
								{% elseif paiement.pack == 120 %}
									2h 
								{% elseif paiement.pack == 125 %}
									2h30 
								{% elseif paiement.pack == 130 %}
									3h
								{% elseif paiement.pack == 140 %}
									4h 
								{% elseif paiement.pack == 150 %}
									5h
								{% elseif paiement.pack == 195 %} <!--spécial Carazo : à supprimer plus tard -->
								    19.5h
								{% endif %}
								</em>
							{% else %}
								{{ (paiement.montant / 100)|number_format(2, ',', ' ') }} €
							{% endif %}
						</td>
						<td>
							{% if paiement.transaction == 0 %}
								<i rel="tooltip" data-title="Paiement annulé" class="icon-remove text-red cursor-help"></i>
							{% elseif paiement.transaction == 1 %}
								<i rel="tooltip" data-title="Paiement en cours" class="icon-spin icon-spinner text-orange cursor-help"></i>
							{% elseif paiement.transaction == 2 %}
								<i rel="tooltip" data-title="Paiement validé" class="icon-ok text-green cursor-help"></i>
							{% elseif paiement.transaction == 3 %}
								<i rel="tooltip" data-title="Paiement non validé" class="icon-exclamation-sign text-red cursor-help"></i>
							{% else %}
								<i rel="tooltip" data-title="Paiement validé" class="icon-ok text-green cursor-help"></i>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
			Aucun paiement à ce jour.
		{% endif %}
	</div>
	<div class="clearfix"></div><br>
	<div class="col-lg-12">
		<h3>Factures</h3><br>
		Vos factures seront bientôt en ligne.
	</div>
	<div class="clearfix"></div><br>
		
	<div class="col-lg-12">
		<h3>Abonnements <i class="icon-question-sign cursor" rel="tooltip" data-placement="right" data-title="Notre Plateforme d'entraînement reviendra pour la rentrée 2014 plus complète que jamais !"></i></h3><br>
	</div>
	<div class="clearfix"></div>
	<div class="col-lg-8">
		{% for eleve in eleves %}
			{% for eleve_matiere in eleve.eleveMatieres if eleve_matiere.plateforme == 1 and eleve_matiere.prelevementPlateforme == 1 %}
				<i class="icon-ok icon-large"></i> {{ eleve.username }} est abonné(e) à la Plateforme <span class="label label-info">Mathématiques</span> 
				jusqu'au : {% if eleve_matiere.dateAbonnement != null %}<strong>{{ eleve_matiere.dateAbonnement|date('d/m/Y') }}</strong>{% else %}<em>Non communiqué</em>{% endif %}<br>
				<small><em>date du prochain débit automatique : {% if eleve_matiere.dateAbonnement != null %}{{ eleve_matiere.dateAbonnement|date('d/m/Y') }}{% else %}Non communiquée{% endif %}</em></small><br><br>
			{% else %}
				{{ eleve.username }} : <em>Aucun abonnement pour l'instant</em><br><br>
			{% endfor %}
		{% endfor %}
	</div>
	<div class="col-lg-4">
		<a class="btn btn-info-inverted btn-block inactif" rel="tooltip" data-title="Lancement à la rentrée 2014" href="{#{{ path('majordesk_app_gestion_abonnements') }}#}"><i class="icon-gear icon-4x"></i> <span class="position-relative-up-12">Gérer vos abonnements</span></a>
	</div>
	<div class="clearfix"></div><br><br>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}