{% extends "::layout.html.twig" %}

{% block title %}
	Mon Compte - {{ parent() }}
{% endblock %}

{% block navbar %}
	<li><a><i class="icon-angle-right"></i> Mon Compte</a></li>
{% endblock %}

{% block body %}
<br><br><br>
	
	{% for flashMessage in app.session.flashbag.get('info') %}
		<div class="container">
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ flashMessage|raw }}
			</div>
		</div>
	{% endfor %}

	<div class="col-lg-12">
		<h3>Heures de cours</h3><br>
	</div>
	<div class="col-lg-4">
		Nombre d'heures de cours restantes : <strong>{% if famille.abonnement is empty or famille.heuresRestantes > 0 %}{{ famille.heuresRestantes / 10 }}h{% else %}<span style="font-size:25px;position:relative;top:5px;">&infin;</span>{% endif %}</strong><br><br>
		Nombre total d'heures de cours prises : <strong> {{ famille.heuresPrises / 10 }}h</strong><br><br>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<a href="{{ path('majordesk_app_details_heures') }}" class="btn btn-primary-inverted btn-block" ><i class="icon-time icon-4x"></i> <span class="position-relative-up-12">Voir l'historique des paiements</span></a>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<a class="btn btn-info-inverted btn-block" href="{{ path('majordesk_app_parametres_compte') }}"><i class="icon-gear icon-4x"></i> <span class="position-relative-up-12">Gérer mon moyen de paiement</span></a>
	</div>
	<div class="clearfix"></div><br>
	
	
	<!--
	<div class="col-lg-12">
		<h3>Abonnements <i class="icon-question-sign cursor" rel="tooltip" data-placement="right" data-title="Notre Plateforme d'entraînement sera lancée pour la rentrée 2014"></i></h3><br>
	</div>
	<div class="clearfix"></div>
	<div class="col-md-6 col-lg-8">
		{% for eleve in eleves %}
			{% for eleve_matiere in eleve.eleveMatieres if eleve_matiere.plateforme == 1 and eleve_matiere.prelevementPlateforme == 1 %}
				<i class="icon-ok icon-large"></i> {{ eleve.username }} est abonné(e) à la Plateforme <span class="label label-info">Mathématiques</span> 
				jusqu'au : {% if eleve_matiere.dateAbonnement != null %}<strong>{{ eleve_matiere.dateAbonnement|date('d/m/Y') }}</strong>{% else %}<em>Non communiqué</em>{% endif %}<br>
				<small><em>date du prochain débit automatique : {% if eleve_matiere.dateAbonnement != null %}{{ eleve_matiere.dateAbonnement|date('d/m/Y') }}{% else %}Non communiquée{% endif %}</em></small><br><br>
			{% else %}
				{{ eleve.username }} : <em>Aucun abonnement pour l'instant</em><br><br>
			{% endfor %}
		{% endfor %}
	</div>
	<div class="col-md-6 col-lg-4">
		<a class="btn btn-info-inverted btn-block inactif" rel="tooltip" data-title="Lancement à la rentrée 2014" href="{#{{ path('majordesk_app_gestion_abonnements') }}#}"><i class="icon-gear icon-4x"></i> <span class="position-relative-up-12">Gérer vos abonnements</span></a>
	</div>
	<div class="clearfix"></div>
	-->
	
	<div class="col-lg-12">
		<h3>Mon Compte</h3><br>
		<strong><i class="icon-user icon-large text-yellow"></i> Mon profil</strong><br><br>
		<div class="col-md-4 col-lg-4">
			Prénom : <strong>{{ app.user.username }}</strong><br>
			Nom : <strong>{{ app.user.nom }}</strong>
		</div>
		<div class="col-md-4 col-lg-4">
			Date d'inscription : <strong>{{ app.user.dateInscription|date('d/m/Y') }}</strong><br>
			Statut : 
			{% if app.user.actif %}
				<strong class="text-green">Actif</strong>
			{% else %}
				<strong class="text-red">Inactif</strong>
			{% endif %}
			<br><br>
		</div>
		<div class="col-md-4 col-lg-4">
			<a href="{{ path('majordesk_app_modifier_password') }}" class="btn btn-default"><i class="icon-gear"></i> Modifier mon mot de passe</a>
		</div>
		<div class="clearfix"></div><br>
		<strong><i class="icon-group icon-large text-greensea"></i> Mes enfants</strong><br><br>
			{% for eleve in eleves %}
				<div class="col-md-4 col-lg-4">
					Prénom : <strong>{{ eleve.username }}</strong><br>
					Nom : <strong>{{ eleve.nom }}</strong>
				</div>
				<div class="col-md-4 col-lg-4">
					Date d'inscription : <strong>{{ eleve.dateInscription|date('d/m/Y') }}</strong><br>
					Statut : 
					{% if eleve.actif %}
						<strong class="text-green">Actif</strong>
					{% else %}
						<strong class="text-red">Inactif</strong>
					{% endif %}
					<br><br>
				</div>
				{% if loop.last %}
					<div class="col-md-4 col-lg-4">
						<a href="{{ path('majordesk_app_nouvel_eleve') }}" class="btn btn-default"><i class="icon-plus"></i> Inscrire un autre enfant</a>
					</div>
				{% else %}
					<div class="clearfix"></div><br>
				{% endif%}
			{% endfor %}	
		<div class="clearfix"></div><br>
		<strong><i class="icon-heart icon-large text-pomegranate"></i> Soutenez-nous</strong><br><br>
		<div class="col-md-8 col-lg-8">
			Notre développement dépend de vos paroles de soutien, alors n'hésitez pas à parler de nous !
			<br><br>
		</div>
		<div class="col-md-4 col-lg-4">
			<a href="{{ path('majordesk_app_soutenez_nous') }}" class="btn btn-default"><i class="icon-thumbs-up"></i> Parler de nous</a>
		</div>
	</div>
	<div class="clearfix"></div><br>
	
	<div class="col-lg-12">
		<h3>Factures</h3><br>
		
		{% if factures is not empty %}
			<ul>
			{% for facture in factures %}
				<li>
					<a href="{{ path('majordesk_app_facture', { 'annee_facture' : facture.dateEmission|date('Y'), 'file_name' : facture.dateEmission|date('Ymd') ~  '-facture-' ~ facture.id }) }}">Facture du {{ facture.dateEmission|date('d/m/Y') }}</a>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			Aucune facture disponible pour l'instant. Leur émission est mensuelle.
		{% endif %}
	</div>
	<div class="clearfix"></div><br>
	<div class="col-lg-12">
		<h3>Impôts</h3><br>
		<strong class="font-majorclass">Majorclass</strong> est un organisme de soutien scolaire agréé (SAP789493467). <br>Conformément à l'article 199 sexdecies du Code Général des Impôts, vous avez droit à une réduction (ou à un crédit) d'impôts à hauteur de 50% des dépenses engagées. 
		<br><br>
		Pour faire valoir votre réduction ou crédit d'impôts, voici un peu d'aide : <a href="{{ path('majordesk_app_aide_impots') }}" class="btn btn-default"><i class="icon-question-sign"></i> Afficher l'aide</a>
	</div>
	<div class="clearfix"></div><br><br>
	

{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}