{% extends "::layout-main.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block body %}

<div class="container home-container">
	{% set parm = "merchant_id=078949346700011" %}
	{% set parm = parm ~ " merchant_country=fr" %}
	{% set parm = parm ~ " pathfile=/home/majorcla/public_html/majordesk/production/majorclass.fr/current/mercanet/subscription/param/pathfile" %}
	{% set parm = parm ~ " sub_normal_return_url=http://www.majorclass.fr/enregistrement-carte-reponse" %}
	{% set parm = parm ~ " sub_cancel_return_url=http://www.majorclass.fr" %}
	{% set parm = parm ~ " sub_automatic_response_url=http://www.majorclass.fr/enregistrement-carte-autoreponse" %}
	{% set parm = parm ~ " header_flag=no" %}
	{% set parm = parm ~ " sub_amount=0" %}
	{% set parm = parm ~ " sub_type=0" %}
	{% set parm = parm ~ " caddie=" ~ famille.id %}
	{% set parm = parm ~ " normal_return_logo=retour.jpg" %}
	{% set parm = parm ~ " cancel_return_logo=annulation.jpg" %}
	{% set parm = parm ~ " submit_logo=valider.jpg" %}
	{% set parm = parm ~ " templatefile=subscription" %}
	
	{% set path_bin = "/home/majorcla/public_html/majordesk/production/majorclass.fr/current/mercanet/subscription/bin/recordabo" %}
	
	{% set execParam = path_bin ~ " " ~ parm %}
	
	{% set result = execParam|exec %}
	
	{% set tableau = result|split('!') %}

	{% set code = tableau[1] %}
	{% set error = tableau[2] %}
	{% set message = tableau[3] %}
	
	{% if code == "" and error == "" %}
		<div class="alert alert-danger"><i class="icon-exclamation-sign"></i> <strong>Erreur : </strong> Une erreur est survenue lors du chargement du script inscription. Veuillez réessayer ultérieurement ou contacter le webmaster.</div>
 	{% elseif code != 0 %}
		<div class="alert alert-danger"><i class="icon-exclamation-sign"></i> <strong>Erreur : </strong> Une erreur est survenue. Veuillez réessayer ultérieurement ou contacter le webmaster.</div>
	{% else %}
		<br><br>
		<div class="col-lg-offset-2 col-lg-8">
			Pour l'enregistrement de votre moyen de paiement, vous allez être redirigé vers le module BNP Paribas :<br><br>
			<div class="col-lg-12">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="cgv-box"> J'ai lu et j'accepte les <a href="{{ path('majordesk_app_cgv_majorclass') }}" target="_blank">conditions générales de vente</a>.
					</label>
				</div>
			</div>
			<div id="accepted" class="pull-right">{{ message|raw }}</div>
			<div id="refused" class="pull-right"><button class="btn btn-success" disabled="disabled">Valider <i class="icon-angle-right icon-large"></i></button></div>
		</div>
	{% endif %}
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='yui_js' output='js/*'
		'../app/Resources/js/parents/enregistrement-carte.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

