{% extends "::layout-main.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block body %}

	{% for message in app.session.flashbag.get('info') %}
	<div class="col-lg-12 alert-majorclass">
		<div class="container">
			<br>
			<div class="alert alert-info">			
				<button type="button" class="close close-majorclass">&times;</button>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
					<span class="hidden-xs"><br></span>
					<img src="{{ asset('img/common/crest.png') }}" style="height:80px;" />
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
					<h3 class="text-left-lg-center-xs"> Cours déclaré</h3>
					<span class="hiddex-xs">Le cours a été déclaré avec succès !</span>
				</div>
				<div class="clearfix"></div><br>
			</div>
		</div>
	</div>
	{% endfor %}
	{% for message in app.session.flashbag.get('warning') %}
	<div class="col-lg-12 alert-majorclass">
		<div class="container">
			<br>
			<div class="alert alert-info">
				<button type="button" class="close close-majorclass">&times;</button>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
					<span class="hidden-xs"><br></span>
					<img src="{{ asset('img/common/flag.png') }}" style="height:80px;" />
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
					<h3 class="text-left-lg-center-xs"> Problème lors de la déclaration du cours</h3>
					Le formulaire de déclaration n'a pas bien été rempli. Veuillez le compléter et réessayer. Si le problème persiste, veuillez contacter Majorclass au +33 6 76 10 15 98.
				</div>
				<div class="clearfix"></div><br>
			</div>
		</div>
	</div>
	{% endfor %}

	{% if eleves|length > 1 %}
		<div id="home-banner-1" class="col-lg-12">
			<div class="container">
				<br><span class="hidden-xs"><br></span>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
					<img src="{{ asset('img/common/calendar.png') }}" style="height:120px;" />
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
					<form role="form-inline" method="post" action="{{ path('majordesk_app_index_parents') }}">
						<h3 class="text-left-lg-center-xs">Déclarer un cours</h3><br>
						<div class="row">
							<label class="col-lg-1"><span class="pull-right">De</span></label>
							<div class="col-lg-3">
							  <span class="bootstrap-timepicker" style="color:black;">{{ form_widget(form.quantite) }}</span>
							</div>
						</div>
						<br>
						<div class="row">
							<label class="col-lg-1"><span class="pull-right">Pour</span></label>
							<div class="col-lg-3">
							    {{ form_widget(form.eleve) }}
							</div>
						</div>
						<br>
						<div class="row">
							<label class="col-lg-1"><span class="pull-right">En</span></label>
							<div class="col-lg-3">
							    {% if form.matiere is defined %}
									{{ form_widget(form.matiere) }}
								{% else %}
									<select id="matieresselectortype_matiere" name="matieresselectortype[matiere]" required="required" class="form-control"></select>
								{% endif %}
							</div>
						</div>
						<br>
						<div class="row">
							<label class="col-lg-1"><span class="pull-right">Avec</span></label>
							<div class="col-lg-3">
							    {% if form.professeur is defined %}
									{{ form_widget(form.professeur) }} 
								{% else %}
									<select id="professeurselectortype_professeur" name="professeurselectortype[professeur]" required="required" class="form-control"></select>
								{% endif %}
							</div>
						</div>
						<br>
						<div class="row">
							<label class="col-lg-1"><span class="pull-right">Le</span></label>
							<div class="col-lg-3">
							  {{ form_widget(form.dateCours) }}
							</div>
							<span class="hidden-lg"><br></span>
							<div class="col-lg-3">
								<button type="submit" class="btn btn-primary pull-right confirm-majorclass" data-message="Confirmez-vous la déclaration de ce cours ?"><i class="icon-ok"></i> Valider</button>
							</div>
						</div>
						{{ form_widget(form._token) }}
					</form>
				</div>
			</div>
			<div class="clearfix"></div><br><span class="hidden-xs"><br></span>
		</div>	
	{% else %}
		<div id="home-banner-1" class="col-lg-12">
			<div class="container">
				<br><span class="hidden-xs"><br></span>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
					<img src="{{ asset('img/common/calendar.png') }}" style="height:120px;" />
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
					<form role="form-inline" method="post" action="{{ path('majordesk_app_index_parents') }}">
						<h3 class="text-left-lg-center-xs">Déclarer un cours</h3><br>
						<div class="row">
							<label class="col-lg-1"><span class="pull-right">De</span></label>
							<div class="col-lg-3">
							  <span class="bootstrap-timepicker" style="color:black;">{{ form_widget(form.quantite) }}</span>
							</div>
						</div>
						<br>
						<div class="row">
							<label class="col-lg-1"><span class="pull-right">En</span></label>
							<div class="col-lg-3">
							  {{ form_widget(form.matiere) }} 
							</div>
						</div>
						<br>
						<div class="row">
							<label class="col-lg-1"><span class="pull-right">Avec</span></label>
							<div class="col-lg-3">
							  {{ form_widget(form.professeur) }} 
							</div>
						</div>
						<br>
						<div class="row">
							<label class="col-lg-1"><span class="pull-right">Le</span></label>
							<div class="col-lg-3">
							  {{ form_widget(form.dateCours) }}
							</div>
							<span class="hidden-lg"><br></span>
							<div class="col-lg-3">
								<button type="submit" class="btn btn-primary pull-right confirm-majorclass" data-message="Confirmez-vous la déclaration de ce cours ?"><i class="icon-ok"></i> Valider</button>
							</div>
						</div>
						{{ form_widget(form._token) }}
					</form>
				</div>
			</div>
			<div class="clearfix"></div><br><span class="hidden-xs"><br></span>
		</div>	
	{% endif %}	

	<div class="col-lg-12">
		<div class="container">
			<br><span class="hidden-xs"><br></span>
			<div class="alert alert-info">
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
					<span class="hidden-xs"><br></span>
					<img src="{{ asset('img/common/crest.png') }}" style="height:80px;" />
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
					<h3 class="text-left-lg-center-xs"> Bienvenue !</h3>
					Vous venez de vous inscrire et nous nous en félicitons. Nous avons bien pris en charge votre dossier et vous serez recontacté dès qu'un professeur correspondant à vos besoins aura été sélectionné.
				</div>
				<div class="clearfix"></div><br>
			</div>
		</div>
	</div>
	
	<div class="col-lg-12">
		<div class="container">
			<br><span class="hidden-xs"><br></span>
			<div class="alert alert-info">
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
					<span class="hidden-xs"><br></span>
					<img src="{{ asset('img/common/cards.png') }}" style="height:40px;" />
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
					<h3 class="text-left-lg-center-xs"> Enregistrement de votre moyen de paiement </h3>
					Afin de pouvoir commencer les cours, vous devez préalablement avoir enregistré une carte bancaire en tant que moyen de paiement.
					<br><br>
					Informations importantes :
					<ul>
						<li>La sécurité de vos coordonnées bancaires est entièrement assurée par BNP Paribas. Nous ne disposons pas de ces informations ;</li>
						<li>Vous pouvez à tout moment modifier ou annuler l'enregistrement de ce moyen de paiement ;</li>
						<li>Vous ne serez jamais débités autrement que pour les cours qui ont effectivement eu lieu</li>
					</ul>
					<br>
					<a href="{{ path('majordesk_app_enregistrement_carte') }}" class="btn btn-warning">Enregistrer un moyen de paiement</a>
				</div>
				<div class="clearfix"></div><br>
			</div>
		</div>
	</div>
	
	<div class="col-lg-12">
		<div class="container">
			<br><span class="hidden-xs"><br></span>
			<div class="alert alert-info">
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
					<span class="hidden-xs"><br></span>
					<img src="{{ asset('img/common/cards.png') }}" style="height:40px;" />
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
					<h3 class="text-left-lg-center-xs"> Votre moyen de paiement a bien été enregistré</h3>
					Votre carte bancaire a bien été enregistrée en tant que moyen de paiement. 
					<br><br>Vous pouvez à tout moment gérer ce moyen de paiement en vous rendant...
				</div>
				<div class="clearfix"></div><br>
			</div>
		</div>
	</div>
	
	<div class="col-lg-12">
		<div class="container">
			<br><span class="hidden-xs"><br></span>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
				<img src="{{ asset('img/common/compteur.png') }}" style="height:70px;" />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
				<h3 class="text-left-lg-center-xs"> Activité récente </h3>
				{% if paiements|length > 0 %}
				<!--<div class="table-responsive">-->
					<table class="table">
						<thead>
							<tr>
								<th>Date <span class="hidden-xs">du paiement</span></th>
								<th class="hidden-xs">Description</th>
								<th>Montant</th>
								<th class="hidden-xs">Statut</th>
							</tr>
						</thead>
						<tbody>
						{% for paiement in paiements %}
							<tr>
								<td>{{ paiement.datePaiement|date('d/m/Y') }}</td>
								<td class="hidden-xs">
									{{ paiement.description|raw }}
								</td>
								<td>
									{% if paiement.pack >= 100 and paiement.pack < 200 %}
										<em>Décompte
										{% if paiement.pack == 110 %}
											1h
										{% elseif paiement.pack == 115 %}
											1h30
										{% elseif paiement.pack == 120 %}
											2h 
										{% elseif paiement.pack == 125 %}
											2h30 
										{% elseif paiement.pack == 130 %}
											3h
										{% elseif paiement.pack == 140 %}
											4h 
										{% elseif paiement.pack == 150 %}
											5h
										{% elseif paiement.pack == 195 %} <!--spécial Carazo : à supprimer plus tard -->
											19.5h
										{% endif %}
										</em>
									{% else %}
										{{ (paiement.montant / 100)|number_format(2, ',', ' ') }} €
									{% endif %}
								</td>
								<td class="hidden-xs">
									{% if paiement.transaction == 0 %}
										<i rel="tooltip" data-title="Paiement annulé" class="icon-remove text-red cursor-help"></i>
									{% elseif paiement.transaction == 1 %}
										<i rel="tooltip" data-title="Paiement en cours" class="icon-spin icon-spinner text-orange cursor-help"></i>
									{% elseif paiement.transaction == 2 %}
										<i rel="tooltip" data-title="Paiement validé" class="icon-ok text-green cursor-help"></i>
									{% elseif paiement.transaction == 3 %}
										<i rel="tooltip" data-title="Paiement non validé" class="icon-exclamation-sign text-red cursor-help"></i>
									{% else %}
										<i rel="tooltip" data-title="Paiement validé" class="icon-ok text-green cursor-help"></i>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<br>
				<!--</div>-->
				{% else %}
					Aucune activité récente.
				{% endif %}
				<a href="{{ path('majordesk_app_abonnements_factures') }}" class="btn btn-warning pull-right">Plus de détails</a>
			</div>
			<div class="clearfix"></div><br>
		</div>
	</div>
	
	<div id="home-banner-0" class="col-lg-12">
		<div class="container">
			<br><span class="hidden-xs"><br></span>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
				<img src="{{ asset('img/common/paper_plane.png') }}" style="height:120px;" />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
				<h3 class="text-left-lg-center-xs">Recommandez nous</h3><br>
				<div class="col-lg-6">
					<input class="form-control" placeholder="Email">
				</div>
				<span class="hidden-lg"><br></span>
				<div class="col-lg-2">
					<button type="submit" class="btn btn-purple pull-right"><i class="icon-ok"></i> Envoyer</button>
				</div>
			</div>
		</div>
		<div class="clearfix"></div><br><span class="hidden-xs"><br></span>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='yui_js' output='js/*'
		'../app/Resources/js/common/bootstrap-datepicker.min.js'
		'../app/Resources/js/locales/bootstrap-datepicker.fr.js' 
		'../app/Resources/js/parents/index-parents.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}