{% extends "::layout.html.twig" %}

{% block title %}
	Paramètres du compte - {{ parent() }}
{% endblock %}

{% block navbar %}
	<li><a href="{{ path('majordesk_app_abonnements_factures') }}"><i class="icon-angle-right"></i> Paiements et factures</a></li>
	<!--<li><a href="{{ path('majordesk_app_gestion_abonnements') }}"><i class="icon-angle-right"></i> Gestion des abonnements</a></li>-->
	<li><a><i class="icon-angle-right"></i> Paramètres du compte</a></li>
{% endblock %}

{% block body %}
<span class="visible-md"><br><br></span>
<span class="visible-lg"><br><br></span>

{% for message in app.session.flashbag.get('info') %}
<div class="col-lg-12">
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<i class="icon-info-sign"></i> <strong>Info :</strong> {{ message }}
	</div>
</div>
<br>
{% endfor %}

<br><span class="visible-xs"><br><br></span>
	
<div class="col-lg-12">
	<h3>Paramètres du compte</h3><br>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Paramètre</th>
					<th>Valeur</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Revevoir par mail chaque dimanche un récapitulatif des cours pris pendant la semaine<br>
					</td>
					<td>
						activé
					</td>
				</tr>
				<tr>
					<td>
						La déclaration d'une heure sur la plateforme de votre enfant requiert votre mot de passe<br>
						<!--<i class="icon-warning-sign"></i> <em>Attention, l'activation de ce filtre nécessite votre présence en fin de cours pour entrer votre mot de passe !</em>-->
					</td>
					<td>
						{% if famille.filtre %}
							activé
						{% else %}
							désactivé
						{% endif %}
					</td>
				</tr>				
			</tbody>
		</table>
	</div>
	<br>
	<em>La modification des paramètres du compte est momentanément désactivée.</em><br>
	<div class="clearfix"></div><br><br>
	<table class="table table-hover">
			<thead>
				<tr>
					<th>Gestion de votre moyen de paiement</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
	</table>
	<!--Modifier mes coordonnées bancaires-->
	{% if famille.abonnement is not empty %}
		<div class="col-lg-6">
			{% set parm = "merchant_id=078949346700011" %}
			{% set parm = parm ~ " merchant_country=fr" %}
			{% set parm = parm ~ " pathfile=/home/majorcla/public_html/majordesk/production/majorclass.fr/current/mercanet/subscription/param/pathfile" %}
			{% set parm = parm ~ " sub_normal_return_url=http://www.majorclass.fr/modification-carte-reponse" %}
			{% set parm = parm ~ " sub_cancel_return_url=http://www.majorclass.fr/parents/parametres-du-compte" %}
			{% set parm = parm ~ " sub_automatic_response_url=http://www.majorclass.fr/modification-carte-autoreponse" %}
			{% set parm = parm ~ " header_flag=no" %}
			{% set parm = parm ~ " caddie=" ~ famille.id %}
			{% set parm = parm ~ " sub_subscriber_id=" ~ famille.abonnement %}
			{% set parm = parm ~ " sub_operation_code=6" %}
			{% set parm = parm ~ " templatefile=subscription" %}
			
			{% set path_bin = "/home/majorcla/public_html/majordesk/production/majorclass.fr/current/mercanet/subscription/bin/manageabo" %}
			
			{% set execParam = path_bin ~ " " ~ parm %}
			
			{% set result = execParam|exec %}
			
			{% set tableau = result|split('!') %}

			{% set code = tableau[1] %}
			{% set error = tableau[2] %}
			{% set message = tableau[3] %}
			
			{% if code == "" and error == "" %}
				<div class="alert alert-danger"><i class="icon-exclamation-sign"></i> <strong>Erreur : </strong> Une erreur est survenue lors du chargement du script inscription. Veuillez réessayer ultérieurement ou contacter le webmaster.</div>
			{% elseif code != 0 %}
				<div class="alert alert-danger"><i class="icon-exclamation-sign"></i> <strong>Erreur : </strong> Une erreur est survenue. Veuillez réessayer ultérieurement ou contacter le webmaster.</div>
			{% else %}
				{{ message|raw }}
			{% endif %}
		</div>
		<!--Annuler mon moyen de paiement-->
		<div class="col-lg-6">
			{% set parm = "merchant_id=078949346700011" %}
			{% set parm = parm ~ " merchant_country=fr" %}
			{% set parm = parm ~ " pathfile=/home/majorcla/public_html/majordesk/production/majorclass.fr/current/mercanet/subscription/param/pathfile_annulation" %}
			{% set parm = parm ~ " sub_normal_return_url=http://www.majorclass.fr/modification-carte-reponse" %}
			{% set parm = parm ~ " sub_cancel_return_url=http://www.majorclass.fr/parents/parametres-du-compte" %}
			{% set parm = parm ~ " sub_automatic_response_url=http://www.majorclass.fr/modification-carte-autoreponse" %}
			{% set parm = parm ~ " header_flag=no" %}
			{% set parm = parm ~ " caddie=" ~ famille.id %}
			{% set parm = parm ~ " sub_subscriber_id=" ~ famille.abonnement %}
			{% set parm = parm ~ " sub_operation_code=4" %}
			{% set parm = parm ~ " templatefile=subscription" %}
			
			{% set path_bin = "/home/majorcla/public_html/majordesk/production/majorclass.fr/current/mercanet/subscription/bin/manageabo" %}
			
			{% set execParam = path_bin ~ " " ~ parm %}
			
			{% set result = execParam|exec %}
			
			{% set tableau = result|split('!') %}

			{% set code = tableau[1] %}
			{% set error = tableau[2] %}
			{% set message = tableau[3] %}
			
			{% if code == "" and error == "" %}
				<div class="alert alert-danger"><i class="icon-exclamation-sign"></i> <strong>Erreur : </strong> Une erreur est survenue lors du chargement du script inscription. Veuillez réessayer ultérieurement ou contacter le webmaster.</div>
			{% elseif code != 0 %}
				<div class="alert alert-danger"><i class="icon-exclamation-sign"></i> <strong>Erreur : </strong> Une erreur est survenue. Veuillez réessayer ultérieurement ou contacter le webmaster.</div>
			{% else %}
				{{ message|raw }}
			{% endif %}
		</div>
	{% else %}
		Vous n'avez pas encore enregistré votre moyen de paiement.<br><br>
		<a href="{{ path('majordesk_app_enregistrement_carte') }}" class="btn btn-warning">Enregistrer un moyen de paiement</a>
	{% endif %}
</div>
<div class="clearfix"></div><br><br>

{% endblock %}