{% extends "::layout.html.twig" %}

{% block title %}
	Abonnements et factures - {{ parent() }}
{% endblock %}

{% block navbar %}
	<li><a tabindex="-1" href="{{ path('majordesk_app_abonnements_factures') }}">Mon Compte</a></li>
	<li><a><i class="icon-angle-right"></i> Soutenez-nous</a></li>
{% endblock %}

{% block body %}
<br><br><br>
	<div class="col-lg-12">
		<div class="container">
			<br><span class="hidden-xs"><br></span>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
				<img src="{{ asset('img/common/facebook.png') }}" style="height:120px;" />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
				<h3 class="text-left-lg-center-xs">Rejoignez-nous sur Facebook</h3>
				<div class="col-lg-12 text-left-lg-center-xs">
					<div class="fb-like fb-responsive" data-href="https://www.facebook.com/MajorclassOfficialPage" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
				</div>
				<br><br>
				<h3 class="text-left-lg-center-xs">Et recommandez-nous !</h3>
				<div class="col-lg-12 text-left-lg-center-xs">
					<div class="fb-share-button" data-href="https://www.facebook.com/MajorclassOfficialPage" data-type="button_count">Partager</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div><br><span class="hidden-xs"><br></span>
	</div>
	<div class="col-lg-12">
		<div class="container">
			<br><span class="hidden-xs"><br></span>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
				<img src="{{ asset('img/common/twitter.png') }}" style="height:130px;" />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
				<h3 class="text-left-lg-center-xs">Posez-nous vos questions sur Twitter</h3>
				<div class="col-lg-12 text-left-lg-center-xs">
					<a href="https://twitter.com/Majorclass_" class="twitter-follow-button" data-show-count="false" data-lang="fr" data-size="large" data-dnt="true">Suivre @Majorclass_</a>
				</div>
				<br><br>	
			</div>
		</div>
		<div class="clearfix"></div><br><span class="hidden-xs"><br></span>
	</div>
	
	<div id="home-banner-0" class="col-lg-12">
		<div class="container">
			<br><span class="hidden-xs"><br></span>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
				<img src="{{ asset('img/common/paper_plane.png') }}" style="height:120px;" />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
				<h3 class="text-left-lg-center-xs">Recommandez-nous par mail</h3><br>
				<div class="col-lg-12 text-left-lg-center-xs">
					<a href="{{ path('majordesk_app_recommandez_nous') }}" class="btn btn-purple"><i class="icon-thumbs-up"></i> Nous Recommander</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div><br><br><span class="visible-xs"><br></span>
	</div>
	<div class="clearfix"></div><br><br>

{% endblock %}