{% extends "::layout-main.html.twig" %}
	
{% block title %}
	Majorclass - Se connecter
{% endblock %}
{% block metadescription %}
	Cette page permet de se connecter à la Plateforme Majorclass.
{% endblock %}
{% block extrametas %}
	<meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block navbar %}
	<li><a href="{{ path('majordesk_app_presentation_cours') }}">Les Cours</a></li>
	<li><a href="{{ path('majordesk_app_presentation_plateforme') }}">Démarche Simplifiée</a></li>
	<li><a href="{{ path('majordesk_app_presentation_tarifs') }}"> Le Tarif</a></li>
	<li><a href="{{ path('majordesk_app_presentation_equipe') }}">Contact</a></li>
	{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li class="active"><a href="{{ path('majordesk_app_index') }}">Se connecter <i class="icon-off"></i></a></li>{% endif %}
{% endblock %}

{% block body %}
	<div id="home-banner-0">
		<div class="container home-container">
			<div class="text-center" style="font-size:35px;margin-top:9px;margin-bottom:9px;">
				<i class="icon-lock icon-2x"></i>
			</div>
		</div>
	</div>			
				<br><br>
				{% if error %}
					<div class="container">
						<br>
						<div class="alert alert-danger">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							{% if error.message == 'Bad credentials' %}
								<i class="icon-warning-sign"></i> <strong>Erreur :</strong> Email ou Mot de passe incorrect.
							{% elseif error.message == 'User account is disabled.' %}
								<i class="icon-warning-sign"></i> <strong>Erreur :</strong> Ce compte n'est pas encore actif ou a été temporairement bloqué.
							{% else %}
								<i class="icon-warning-sign"></i> <strong>Erreur :</strong> <br><br> {{ error }}
							{% endif %}
							
						</div>
					</div>
				{% endif %}
				
				{% for message in app.session.flashbag.get('reset-password-alert') %}
				<div class="container">
					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						Votre nouveau mot de passe a bien été enregistré. Vous pouvez dès à présent vous connecter.
					</div>
				</div>
				{% endfor %}
				{% for flashMessage in app.session.flashbag.get('info-inscription') %}
				<div class="container">
					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ flashMessage|raw }}
					</div>
				</div>
				{% endfor %}
				{% for flashMessage in app.session.flashbag.get('info-inscription-professeur') %}
				<div class="container">
					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						Merci de ta canditature ! Tu vas recevoir un mail qui te permettra de finaliser ton inscription.
					</div>
				</div>
				{% endfor %}
				{% for flashMessage in app.session.flashbag.get('info-confirmation-inscription-professeur') %}
				<div class="container">
					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						Adresse mail confirmée ! Tu peux dès à présent te connecter sur ton espace perso. N'oublie pas de mettre en ligne les documents demandés.
					</div>
				</div>
				{% endfor %}
				{% for flashMessage in app.session.flashbag.get('warning-inscription') %}
				<div class="container">
					<div class="alert alert-danger">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ flashMessage|raw }}
					</div>
				</div>
				{% endfor %}
				
				<div class="container">
					<div class="col-lg-offset-3 col-lg-6">
						<form action="{{ path('login_check') }}" method="post" >
							<div class="form-group">
								Email :
								<input class="form-control input-lg" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
							</div>
							<br>
							<div class="form-group">
								Mot de passe :
								<input class="form-control input-lg" type="password" id="password" name="_password" required="required" />
							</div>
							<div class="checkbox inline">
								<label>
									<input type="checkbox" id="remember_me" name="_remember_me" class="pull-left" checked /> <p>Se souvenir de moi <a href="{{ path('majordesk_app_forgot_password') }}" class="pull-right">Mot de passe oublié</a></p> 
								</label>
							</div>	
							<br>
							<button type="submit" class="btn btn-success pull-right" id="_submit" name="_submit">Se connecter <i class="icon-off"></i></button>
						</form>
						<br><br><br>
						<span class="pull-right">Si vous ne disposez pas encore d'un compte, <a href="{{ path('majordesk_app_inscription') }}">inscrivez-vous</a>.</span>
						
					</div>
				</div>
				<br><br><br><br>
		
{% endblock %}	

