{% extends "::layout-main.html.twig" %}
				
				{% block title %}
					Se connecter - {{ parent() }}
				{% endblock %}
				
				{% block navbar %}
				    <li><a href="{{ path('majordesk_app_presentation_cours') }}">Cours</a></li>
				    <li><a href="{{ path('majordesk_app_presentation_tarifs') }}">Tarifs</a></li>
				    <li><a href="{{ path('majordesk_app_presentation_equipe') }}">Qui sommes-nous?</a></li>
				    <li class="active"><a href="{{ path('majordesk_app_index') }}">Se connecter <i class="icon-off"></i></a></li>
				{% endblock %}

{% block body %}
	<div id="home-banner-purple">
		<br><br>
		<div class="container home-container">
			<div class="text-center" style="font-size:35px">
				<i class="icon-lock icon-2x"></i>
			</div>
		</div>
		<br>
	</div>			
				<br><br>
				{% if error %}
					<div class="container">
						<br>
						<div class="alert alert-danger">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							{% if error.message == 'Bad credentials' %}
								<i class="icon-warning-sign"></i> <strong>Erreur :</strong> Email ou Mot de passe incorrect.
							{% elseif error.message == 'User account is disabled.' %}
								<i class="icon-warning-sign"></i> <strong>Erreur :</strong> Ce compte n'est pas encore actif ou a été temporairement bloqué.
							{% endif %}
							
						</div>
					</div>
				{% endif %}
				
				{% for flashMessage in app.session.flashbag.get('info-inscription') %}
				<div class="container">
					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ flashMessage|raw }}
					</div>
				</div>
				{% endfor %}
				{% for flashMessage in app.session.flashbag.get('warning-inscription') %}
				<div class="container">
					<div class="alert alert-danger">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ flashMessage|raw }}
					</div>
				</div>
				{% endfor %}
				
				<div class="container">
					<div class="col-lg-offset-3 col-lg-6">
						<form action="{{ path('login_check') }}" method="post" >
							<div class="form-group">
								Email :
								<input class="form-control input-lg" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
							</div>
							<br>
							<div class="form-group">
								Mot de passe :
								<input class="form-control input-lg" type="password" id="password" name="_password" required="required" />
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" id="remember_me" name="_remember_me" class="pull-left" checked /> <p>Se souvenir de moi</p>
								</label>
							</div>					
							<button type="submit" class="btn btn-success pull-right" id="_submit" name="_submit">Se connecter <i class="icon-off"></i></button>
						</form>
					</div>
				</div>
		
{% endblock %}	

