{% extends "::layout-main.html.twig" %}
				
				{% block title %}
					Nouveau mot de passe - {{ parent() }}
				{% endblock %}
				
				{% block navbar %}
				    <li><a href="{{ path('majordesk_app_presentation_cours') }}">Cours</a></li>
				    <li><a href="{{ path('majordesk_app_presentation_tarifs') }}">Tarif</a></li>
				    <li><a href="{{ path('majordesk_app_presentation_equipe') }}">Qui sommes-nous?</a></li>
				    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li><a href="{{ path('majordesk_app_index') }}">Se connecter <i class="icon-off"></i></a></li>{% endif %}
				{% endblock %}

{% block body %}
	<div id="home-banner-0">
		<div class="container home-container">
			<div class="text-center" style="font-size:35px;margin-top:9px;margin-bottom:9px;">
				<i class="icon-lock icon-2x"></i>
			</div>
		</div>
	</div>			
				<br><br>		

				{% for message in app.session.flashbag.get('reset-password-alert') %}
				<div class="container">
					<div class="alert alert-danger">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Champs incorrects :</strong><br><br>
								{% for field in form %}
									{{ form_errors(field) }}
								{% endfor %}
								{{ form_errors(form.password.pass) }} 
								{{ form_errors(form.password.confirm) }}
					</div>
				</div>
				{% endfor %}
				{% for message in app.session.flashbag.get('reset-password-impossible') %}
				<div class="container">
					<div class="alert alert-danger">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						Cette adresse mail n'est lié à aucun compte. Changement du mot de passe impossible.
					</div>
				</div>
				{% endfor %}
				
				<div class="container">
					<div class="col-lg-offset-3 col-lg-6">
						Veuillez entrer un nouveau mot de passe de plus de 6 caractères.<br><br>
						<form action="{{ path('majordesk_app_reset_password', {'encrypted_mail' : encrypted_mail}) }}" method="post" >
							<div class="form-group">
								Email :
								<strong>{{ mail }}</strong>
							</div>
							<div class="form-group">
								Nouveau mot de passe :
								{{ form_widget(form.password.pass) }}
								{{ form_label(form.password.confirm) }}
								{{ form_widget(form.password.confirm) }}
							</div>
							<br>
							<button type="submit" class="btn btn-success pull-right" id="_submit" name="_submit">Envoyer <i class="icon-angle-right icon-large"></i></button>
							{{ form_widget(form._token) }}
						</form>				
					</div>
				</div>
		
{% endblock %}	

