<html>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<body style="background-color: #fafafa;">
		 <br><br><br>
		<div style="width: 600px;margin-left:auto;margin-right:auto;background-color:#ffffff;border: 1px solid #dddddd;padding-left:30px;padding-right:30px;padding-top:30px;padding-bottom:10px;">
			<div style="width:80%;margin-left:auto;margin-right:auto;"><a href="http://www.majorclass.fr"><img src="http://majorclass.fr/img/home/logo.png" style="width:100%" /></a></div><br><br>
			Cher(e) professeur Majorclass,
			<br><br>
			La famille {{ nom }} t'a été assignée afin que tu suives leur enfant {{ prenom_enfant }} qui est en classe de {{ classe }}.
			<br>
			Le numéro de téléphone {{ representant }} est le <strong>{{ telephone }}</strong>.
			<br><br>
			<u>Tu dois maintenant les rappeler afin de convenir de la date du premier cours.</u><br>
			L'adresse de cette famille est : {{ adresse }}<br>
			N'hésite pas à demander plus de précisions (confirmation de l'adresse, code, interphone,...).
			<br><br>
			Pour nous permettre de te payer, n'oublie pas que tu dois toujours, à la fin d'un cours, le déclarer sur majorclass.fr. Tu peux le faire depuis ton espace perso (via un smartphone par exemple), ou depuis l'espace des parents ou de l'élève.
			<br><br>
			A bientôt,<br>
			L'équipe Majorclass<br>
			contact@majorclass.fr<br>
			06 63 15 24 17
			<br><br><br>
		</div>
		<div style="height:20px;width:626px;margin-left:auto;margin-right:auto;padding:5px;padding-left:30px;background-color:#687080;">
			<a href="https://www.facebook.com/MajorclassOfficialPage" target="blank_"><img style="width:20px;height:20px;" src="http://majorclass.fr/img/home/facebook.png"></a>
			<a href="https://www.twitter.com/Majorclass_" target="blank_"><img style="width:20px;height:20px;" src="http://majorclass.fr/img/home/twitter.png"></a>
			<a href="http://www.linkedin.com/company/majorclass" target="blank_"><img style="width:20px;height:20px;" src="http://majorclass.fr/img/home/linkedin.png"></a>
		</div>
		<br><br><br>
	</body>
</html>