<html>
	<body>
	<img src="http://majorclass.fr/img/home/logo-sm.png" style="height:25px" /><br><br>
	Cher(e) professeur Majorclass,
	<br><br>
	La famille {{ nom }} t'a été assignée afin que tu suives leur enfant {{ prenom_enfant }} qui est en classe de {{ classe }}.
	<br>
	Le numéro de téléphone {{ representant }} est le <strong>{{ telephone }}</strong>.
	<br><br>
	<u>Tu dois maintenant les rappeler afin de convenir de la date du premier cours.</u><br>
	L'adresse de cette famille est : {{ adresse }}<br>
	N'hésite pas à demander plus de précisions (confirmation de l'adresse, code, interphone,...).
	<br><br>
	Pour nous permettre de te payer, n'oublie pas que tu dois toujours, à la fin d'un cours, le déclarer sur majorclass.fr. Tu peux le faire depuis ton espace perso (via un smartphone par exemple), ou depuis l'espace des parents ou de l'élève.
	<br><br>
	A bientôt,<br>
	L'équipe Majorclass<br>
	contact@majorclass.fr<br>
	06 63 15 24 17
	</body>
</html>